Repository dracutdevs/dracut, pull requests merged in 2020-08, with the labels that each got.

#882 90lvm: do not add newline to cmdline
  modules.d/90lvm/module-setup.sh
Labels: lvm, modules

#884 net-lib.sh: support infiniband network mac addresses
  modules.d/40network/net-lib.sh
Labels: modules, network

#891 dmsquash-live-root: Remove obsolete osmin.img processing.
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: dmsquash-live, modules

#897 Remove stratis module
  dracut.spec
  modules.d/90stratis/module-setup.sh
  modules.d/90stratis/stratisd-init.service
  modules.d/90stratis/stratisd-start.sh
  modules.d/90stratis/stratisd-stop.sh
Labels: modules, needs review, stratis

#902 dracut.sh: fix errors pointed out by shellcheck.
  dracut.sh
Labels: needs review

#903 dracut.sh: fix some indentation.
  dracut.sh
Labels: needs review

#907 Adding code of conduct
  .github/CODE_OF_CONDUCT.md
  README.md
Labels: github, needs review

#908 Adding a pull request template
  .github/pull_request_template.md
Labels: github

#905 Do not start inside container
  modules.d/06rngd/rngd.service
Labels: modules, rngd

#912 Fix Unicode
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github
