Repository dracutdevs/dracut, pull requests merged in 2020-09, with the labels that each got.

#918 dracut.cmdline.7.asc: fix typo
  dracut.cmdline.7.asc
Labels: needs review

#917 fix graphics startup failure with the rhgb paramter in CentOS8.2
  modules.d/50drm/module-setup.sh
Labels: drm, modules

#923 04watchdog: split the watchdog module install
  modules.d/04watchdog-modules/module-setup.sh
  modules.d/04watchdog/module-setup.sh
Labels: modules, watchdog

#915 90crypt: make `rd.luks.key` usable with encrypted keydev.
  dracut.cmdline.7.asc
  modules.d/90crypt/cryptroot-ask.sh
  modules.d/90crypt/parse-crypt.sh
Labels: crypt, modules, needs review

#926 dracut.spec: include the 04watchdog-modules module
  dracut.spec
Labels: needs review

#928 Include devfreq drivers in initrd
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#933 50drm hostonly support for platform bus
  modules.d/50drm/module-setup.sh
Labels: drm, modules
