Repository dracutdevs/dracut, pull requests merged in 2020-12, with the labels that each got.

#979 Improve documentation of iso-scan/filename feature
  dracut.cmdline.7.asc
Labels: needs review

#987 Adding stalebot file
  .github/stale.yml
Labels: github

#988 Revert "Retrieve service, rpc and protcol entries via getent in hostonly mode"
  modules.d/95cifs/module-setup.sh
  modules.d/95nfs/module-setup.sh
Labels: cifs, modules, nfs

#975 Drop 51-dracut-rescue-postinst.sh entirely
  51-dracut-rescue-postinst.sh
  dracut.spec
Labels: needs review

#879 Update NEWS and AUTHORS
  .mailmap
  AUTHORS
  NEWS
  dracut.8.asc
Labels: dracut, needs review

#989 docs(development): add HACKING.md
  HACKING
  HACKING.md
  README.md
  README.modules
  README.testsuite
  dracut.spec
Labels: documents, needs review

#990 test(conventional): add Conventional Commits PR github action
  .github/workflows/pr.yml
Labels: github

#991 ci: add testing with Fedora 33
  .github/workflows/fedora-33.yml
Labels: github
