Repository dracutdevs/dracut, pull requests merged in 2020-11, with the labels that each got.

#964 Revert "90crypt: ship initrd-cryptsetup.target"
  modules.d/00systemd/module-setup.sh
  modules.d/90crypt/module-setup.sh
Labels: crypt, modules, systemd

#969 install kpartx's 11-dm-parts.rules for multipath
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#968 90crypt: pull in remote-cryptsetup.target enablement
  modules.d/90crypt/module-setup.sh
Labels: crypt, modules

#952 Remove uses of bash (and bash specific syntax) in runtime scripts
  modules.d/90multipath/multipath-shutdown.sh
  modules.d/98dracut-systemd/dracut-cmdline-ask.sh
Labels: dracut-systemd, modules, multipath

#949 Don't print when a module is explicitly omitted (by default)
  dracut-init.sh
Labels: needs review

#954 Prevent creating unexpected files on the host when running dracut
  modules.d/99base/dracut-lib.sh
Labels: base, modules

#950 dracut-bash-completion.sh: add positional argument completion
  dracut-bash-completion.sh
Labels: needs review

#860 dracut-install: Globbing support for resolving "firmware:"
  install/dracut-install.c
Labels: dracut-install

#971 95fcoe: ensure needed modules are installed
  modules.d/95fcoe/module-setup.sh
Labels: fcoe, modules

#972 95fcoe: don't install if there is no FCoE hostonly devices
  modules.d/95fcoe-uefi/module-setup.sh
  modules.d/95fcoe/module-setup.sh
Labels: fcoe, fcoe-uefi, modules

#922 Add --uefi-output for custom output filename
  dracut-bash-completion.sh
  dracut.8.asc
  dracut.conf.5.asc
  dracut.sh
Labels: needs review

#977 multipathd: fix the comparison
  modules.d/90multipath/multipathd.sh
Labels: modules, multipath
