Repository dracutdevs/dracut, pull requests merged in 2020-10, with the labels that each got.

#936 dracut-install: ignore bogus preload libs
  install/dracut-install.c
Labels: dracut-install

#937 dracut-install: fix edge-case regression with weak modules
  install/dracut-install.c
Labels: dracut-install

#930 00systemd: add missing cryptsetup-related targets
  modules.d/00systemd/module-setup.sh
Labels: modules, systemd

#932 90crypt: pull in remote-cryptsetup.target enablement
  modules.d/90crypt/module-setup.sh
Labels: crypt, modules

#940 rootfs-block: only write root argument for block device
  modules.d/95rootfs-block/module-setup.sh
Labels: modules, rootfs-block

#941 [RFC] cryptroot-ask: unify /etc/crypttab and rd.luks.key
  modules.d/90crypt/cryptroot-ask.sh
Labels: crypt, modules

#931 98dracut-systemd: don't wait for root device if remote cryptsetup active
  modules.d/98dracut-systemd/rootfs-generator.sh
Labels: dracut-systemd, modules

#955 dmsquash-live/iso-scan: Provide an easy reference to iso-scan device.
  modules.d/90dmsquash-live/iso-scan.sh
Labels: dmsquash-live, modules

#959 90crypt: ship initrd-cryptsetup.target
  modules.d/00systemd/module-setup.sh
  modules.d/90crypt/module-setup.sh
Labels: crypt, modules, systemd

#960 Configure the runner for team interfaces
  dracut.cmdline.7.asc
  modules.d/35network-legacy/parse-team.sh
Labels: modules, needs review, network-legacy
