Repository dracutdevs/dracut, pull requests merged in 2021-12, with the labels that each got.

#1666 fix(drm): Add privacy screen modules to the initrd
  modules.d/50drm/module-setup.sh
Labels: modules, drm

#1665 fix(network-manager): skip non-directories in /sys/class/net
  modules.d/35network-manager/nm-run.sh
Labels: modules, network-manager

#1660 fix(url-lib): improve ca-bundle detection
  modules.d/45url-lib/module-setup.sh
Labels: modules, url-lib

#1658 fix(systemd-sysusers): override systemd-sysusers.service
  modules.d/01systemd-sysusers/module-setup.sh
  modules.d/01systemd-sysusers/sysusers-dracut.conf
Labels: modules

#1659 fix(systemd-sysusers): use split systemd sysuser configs
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-journald/module-setup.sh
  modules.d/01systemd-networkd/module-setup.sh
  modules.d/01systemd-resolved/module-setup.sh
  modules.d/01systemd-timesyncd/module-setup.sh
Labels: modules

#1651 fix: make the base module dependency explicit
  modules.d/95rootfs-block/module-setup.sh
Labels: modules, rootfs-block

#1667 fix(network-wicked): multiple path corrections
  modules.d/35network-wicked/module-setup.sh
Labels: modules

#1661 fix(dmsquash-live): overlayfs on a block device root
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live
