Repository dracutdevs/dracut, pull requests merged in 2021-01, with the labels that each got.

#1002 fix(35network-manager): avoid restarting NetworkManager
  modules.d/35network-manager/nm-run.sh
Labels: modules, network-manager

#1006 chore(cleanup): remove logrotate file
  dracut.logrotate
Labels: repository

#1005 chore(github): add CODEOWNERS file
  .github/CODEOWNERS
Labels: github

#1004 feat(cli): add --no-uefi option
  dracut.8.asc
  dracut.sh
Labels: needs review

#1011 feat: add addional global variables
  dracut.conf.d/fedora.conf.example
  dracut.sh
Labels: needs review

#1009 fix: add a missing efi support
  lsinitrd.sh
Labels: needs review

#1017 feat: add addional global variables
  dracut.conf.d/fedora.conf.example
  dracut.sh
Labels: needs review

#982 fix(90kernel-modules): install generic crypto modules with hostonly unset
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#993 fix(dbus): do not hardcode path in dbus
  modules.d/06dbus/module-setup.sh
Labels: modules

#1020 fix(kernel-network-modules): also install modules from mdio subdirectory
  modules.d/90kernel-network-modules/module-setup.sh
Labels: kernel-network-modules, modules

#1016 fix(1001): use efivars fs over the deprecated sysfs entries
  modules.d/95fcoe-uefi/parse-uefifcoe.sh
  modules.d/99uefi-lib/uefi-lib.sh
Labels: fcoe-uefi, modules, uefi-lib

#1030 ci: use our own version of commisery
  .github/workflows/pr.yml
Labels: github

#1014 fix(1007): adding shared keyring mode to type unit
  modules.d/98dracut-systemd/dracut-pre-pivot.service
Labels: dracut-systemd, modules

#1035 test: incr. disk size for TEST 35 ISCSI-MULTI
  test/TEST-35-ISCSI-MULTI/test.sh
Labels: test

#1034 ci: remove Travis and include Fedora-latest
  .github/workflows/fedora-latest.yml
  .travis.yml
Labels: github, needs review
