Repository dracutdevs/dracut, pull requests merged in 2021-02, with the labels that each got.

#1042 feat(systemd-coredump): introducing systemd-coredump module
  dracut.conf.d/fedora.conf.example
  dracut.sh
  modules.d/01systemd-coredump/module-setup.sh
Labels: modules, needs review

#1043 fix(watchdog-modules): numeric argument required
  modules.d/04watchdog/module-setup.sh
Labels: modules, watchdog

#1049 fix(spec): add new systemd-coredump module to spec
  dracut.spec
Labels: needs review

#1048 feat(network-legacy): send dhcp in parallel on all devices
  dracut.cmdline.7.asc
  modules.d/35network-legacy/dhcp-multi.sh
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-legacy/parse-ip-opts.sh
  modules.d/40network/net-lib.sh
Labels: modules, needs review, network, network-legacy

#1040 fix: do not set cmdline for uefi images unless asked
  dracut.sh
Labels: needs review

#1063 Fix NFS mount failure for NFSv3
  modules.d/95nfs/module-setup.sh
Labels: modules, nfs

#1069 docs: remove TODO file
  TODO
  dracut.spec
Labels: needs review

#1073 fix(network-legacy): silent check for leaseinfo
  modules.d/35network-legacy/ifup.sh
Labels: modules, network-legacy

#1053 feat(systemd-repart): introducing systemd-repart module
  dracut.spec
  modules.d/01systemd-repart/module-setup.sh
Labels: modules, needs review

#1000 feat(kernel-modules): add drivers memory for ARM
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#992 fix: move ldconfig after library workaround
  dracut.sh
Labels: needs review

#1047 fix: bad ls parsing
  modules.d/95resume/resume.sh
Labels: modules, resume

#1075 fix: correct the line continuation
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/01systemd-sysusers/module-setup.sh
  modules.d/06dbus-broker/module-setup.sh
  modules.d/06dbus-daemon/module-setup.sh
Labels: modules

#1076 fix(plymouth): install binaries with dependencies
  modules.d/50plymouth/module-setup.sh
Labels: modules, plymouth

#1080 35network-legacy: discard pointless RTNETLINK message
  modules.d/35network-legacy/ifup.sh
Labels: modules, network-legacy

#1079 90kernel-modules: arm/arm64: Add reset controllers
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#1077 fix: revise all module checks
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-initrd/module-setup.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/01systemd-sysusers/module-setup.sh
  modules.d/02systemd-networkd/module-setup.sh
  modules.d/06dbus-broker/module-setup.sh
  modules.d/06dbus-daemon/module-setup.sh
  modules.d/06rngd/module-setup.sh
  modules.d/09dbus/module-setup.sh
  modules.d/40network/module-setup.sh
  modules.d/98dracut-systemd/module-setup.sh
  modules.d/99squash/module-setup.sh
Labels: dracut-systemd, modules, network, rngd, squash, systemd-initrd, systemd-networkd

#1084 Reduce ci load
  .github/workflows/fedora-32.yml
  .github/workflows/fedora-33.yml
  .github/workflows/fedora-latest.yml
Labels: github

#1083 fix(shutdown): add timeout to umount calls
  dracut.cmdline.7.asc
  modules.d/99shutdown/module-setup.sh
  modules.d/99shutdown/shutdown.sh
Labels: modules, needs review, shutdown

#1022 feat(systemd-modules-load): introducing systemd-modules-load module
  dracut.spec
  modules.d/01systemd-modules-load/module-setup.sh
Labels: modules, needs review

#1078 fix: correct the squash quirk
  dracut.sh
Labels: needs review

#1036 docs: fix CI badges in README
  README.md
Labels: needs review

#1038 fix: adding missing efi paths
  dracut-initramfs-restore.sh
Labels: needs review

#1031 feat(systemd-sysctl): introducing systemd-sysctl module
  modules.d/01systemd-sysctl/module-setup.sh
Labels: modules, needs review

#1074 feat(systemd-ask-password): introducing systemd-ask-password module
  modules.d/01systemd-ask-password/module-setup.sh
Labels: modules

#1086 fix: cosmetic comment fixes
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/06dbus-broker/module-setup.sh
  modules.d/06dbus-daemon/module-setup.sh
Labels: modules

#1085 fix: add systemd-ask-password and systemd-syctl modules to the spec file
  dracut.spec
Labels: needs review

#1094 fix: update dbus module directory in spec file
  dracut.spec
Labels: needs review

#1092 ci: more disk space for test 30 iscsi
  test/TEST-30-ISCSI/test.sh
Labels: test

#1093 ci: wait for udev before doing sfdisk
  test/TEST-03-USR-MOUNT/create-root.sh
  test/TEST-04-FULL-SYSTEMD/create-root.sh
  test/TEST-10-RAID/create-root.sh
  test/TEST-11-LVM/create-root.sh
  test/TEST-13-ENC-RAID-LVM/create-root.sh
  test/TEST-14-IMSM/create-root.sh
  test/TEST-15-BTRFSRAID/create-root.sh
  test/TEST-17-LVM-THIN/create-root.sh
  test/TEST-20-NFS/create-root.sh
  test/TEST-30-ISCSI/create-client-root.sh
  test/TEST-30-ISCSI/create-server-root.sh
  test/TEST-35-ISCSI-MULTI/create-client-root.sh
  test/TEST-35-ISCSI-MULTI/create-server-root.sh
  test/TEST-40-NBD/create-client-root.sh
  test/TEST-40-NBD/create-encrypted-root.sh
  test/TEST-40-NBD/create-server-root.sh
  test/TEST-50-MULTINIC/create-root.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/create-root.sh
Labels: test

#1090 docs: fix dracut.cmdline.7
  dracut.cmdline.7.asc
Labels: needs review

#1098 ci: force binary files for grep on disk images
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/test.sh
Labels: test

#1103 chore: add `CONTRIBUTORS` target to Makefile
  Makefile
Labels: needs review

#1105 docs: update NEWS.md and AUTHORS
  AUTHORS
  NEWS.md
Labels: needs review

#1097 fix(github): exempt issues with the label bug
  .github/stale.yml
Labels: github

#1108 fix(i18n): create the keyboard symlinks again
  modules.d/10i18n/module-setup.sh
Labels: i18n, modules

#1111 chore: update authors in .mailmap
  .mailmap
Labels: needs review

#1115 fix: proper return code for inst_multiple in dracut-init.sh
  dracut-init.sh
Labels: needs review

#1114 fcoe: rename rd.nofcoe to rd.fcoe
  dracut.cmdline.7.asc
  modules.d/95fcoe/lldpad.sh
  modules.d/95fcoe/parse-fcoe.sh
Labels: fcoe, modules, needs review

#1096 fix: skip empty modalias files in drm module setup
  modules.d/50drm/module-setup.sh
Labels: drm, modules

#1121 fix(dracut.sh): unfreeze /boot on exit
  dracut.sh
Labels: needs review

#1109 fix(dracut.sh): remove unneeded variables
  dracut.sh
Labels: needs review

#1120 feat(github): adding packit support for fedora maintenance
  .packit.yml
Labels: needs review
