Repository dracutdevs/dracut, pull requests merged in 2021-08, with the labels that each got.

#1575 fix(network-manager): include nm-daemon-helper binary
  modules.d/35network-manager/module-setup.sh
Labels: modules, network-manager

#1574 fix(squash): remove tailing '/' when installing ld.so.conf.d
  modules.d/99squash/module-setup.sh
Labels: modules, squash

#1569 fix(base): do not quote $initargs for switch_root
  modules.d/99base/init.sh
Labels: modules, base

#1546 fix(integrity): add support for loading multiple EVM x509 certs
  modules.d/98integrity/evm-enable.sh
Labels: modules, integrity

#1570 fix(network-manager): ensure safe content of /tmp/dhclient."$ifname".dhcpopts
  modules.d/35network-manager/module-setup.sh
  modules.d/35network-manager/nm-run.sh
Labels: modules, network-manager

#1583 fix(squash): apply FIPS and libpthread workaround
  modules.d/99squash/module-setup.sh
Labels: modules, squash

#1581 fix(network-manager): write DHCP filename option to dhcpopts file
  modules.d/35network-manager/nm-run.sh
Labels: modules, network-manager

#1584 fix(kernel-modules): add blk_mq_alloc_disk and blk_cleanup_disk to bl…
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#1571 fix(kernel-modules): go downstream block device's hardware stack to d…
  dracut-functions.sh
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#1585 fix(iscsi): several fixes for iscsi root
  modules.d/95iscsi/iscsiroot.sh
  modules.d/95iscsi/module-setup.sh
Labels: modules, iscsi

#1586 fix(usrmount): do not empty _dev variable
  modules.d/98usrmount/mount-usr.sh
Labels: modules, usrmount

#1588 fix(nvmf): validate_ip_conn
  modules.d/95nvmf/parse-nvmf-boot-connections.sh
Labels: modules, nvmf
