Repository dracutdevs/dracut, pull requests merged in 2021-11, with the labels that each got.

#1642 test: don't use `-cpu max` in GH Actions
  test/run-qemu
  tools/test-github.sh
Labels: test

#1648 fix(dmsquash-live-ntfs,cms): fuse3 no longer requires ulockmgr_server
  modules.d/80cms/module-setup.sh
  modules.d/90dmsquash-live-ntfs/module-setup.sh
Labels: modules, cms, dmsquash-live-ntfs

#1645 fix(s390_rules): make collect optional
  modules.d/95dasd_rules/module-setup.sh
  modules.d/95qeth_rules/module-setup.sh
  modules.d/95zfcp_rules/module-setup.sh
Labels: modules, dasd_rules, qeth_rules, zfcp_rules

#1649 fix(dmsquash-live): do not install systemd files when systemd is not enabled
  modules.d/90dmsquash-live/module-setup.sh
Labels: modules, dmsquash-live

#1637 feat(crypt): check if tpm2-tss module is needed in hostonly mode
  modules.d/90crypt/module-setup.sh
Labels: modules, crypt

#1641 feat(fido2): introducing the fido2 module
  modules.d/91fido2/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1636 fix(resume): check for presence of /sys/power/resume
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#1613 fix(fips.sh): repsect rd.fips.skipkernel
  modules.d/01fips/fips.sh
Labels: modules, fips

#1633 fix(mdraid): allow UUID comparison for more than one UUID
  modules.d/90mdraid/mdraid_start.sh
Labels: modules, mdraid

#1653 feat(crypt): check if fido2 module is needed in hostonly mode
  modules.d/90crypt/module-setup.sh
Labels: modules, crypt

#1654 ci: remove Fedora 33 container
  .github/workflows/container.yml
Labels: github

#1652 Add errors and warnings when network interface does not exist
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/parse-ip-opts.sh
  modules.d/45ifcfg/write-ifcfg.sh
Labels: modules, network-legacy, ifcfg
