Repository dracutdevs/dracut, pull requests merged in 2021-04, with the labels that each got.

#1345 fix(i18n): skip if data is missing
  modules.d/10i18n/module-setup.sh
Labels: i18n, modules

#1349 fix(network-manager): nm-run.service: don't kill forked processes
  modules.d/35network-manager/nm-run.service
Labels: modules, network-manager

#1281 network-manager: run as daemon with D-Bus
  modules.d/35network-manager/initrd-no-auto-default.conf
  modules.d/35network-manager/module-setup.sh
  modules.d/35network-manager/nm-config.sh
  modules.d/35network-manager/nm-initrd.service
  modules.d/35network-manager/nm-lib.sh
  modules.d/35network-manager/nm-wait-online-initrd.service
Labels: modules, network-manager

#1344 fix(TEST ISCSI): try to debug md error 524
  test/TEST-30-ISCSI/create-client-root.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/create-client-root.sh
  test/TEST-35-ISCSI-MULTI/test.sh
Labels: test

#1139 feat(bluetooth): implement bluetooth support in initrd
  dracut.spec
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#1361 fix(bluetooth): shellcheck and hostonly corrections
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#1355 fix(nbd): make nbd work again with systemd
  modules.d/95nbd/nbdroot.sh
  modules.d/95nbd/parse-nbdroot.sh
  test/TEST-40-NBD/test.sh
Labels: modules, nbd, test

#1368 fix(examples): remove the examples directory and reference to it
  README.cross
  examples/yocto/classes/dracut.bbclass
  examples/yocto/postinst-intercepts/execute_dracut
  examples/yocto/recipes/cross-compiler-ldd/cross-compile-ldd-fix-infinite-loop.patch
  examples/yocto/recipes/cross-compiler-ldd_git.bb
Labels: example

#1377 90kernel-modules: add watchdog drivers for generic initrd
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#1378 fix(systemd): include hosts and nsswitch.conf in hostonly mode
  modules.d/00systemd/module-setup.sh
Labels: modules, systemd

#1381 fix(network-manager): create /run directories
  modules.d/35network-manager/nm-lib.sh
Labels: modules, network-manager

#1380 feat(systemd-timesyncd): introducing the systemd-timesyncd module
  dracut.spec
  modules.d/01systemd-timesyncd/module-setup.sh
  modules.d/01systemd-timesyncd/timesyncd-tmpfile-dracut.conf
Labels: modules

#1374 fix(systemd-modules): remove dependency on systemd meta module
  modules.d/01systemd-ask-password/module-setup.sh
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/01systemd-sysctl/module-setup.sh
  modules.d/01systemd-sysusers/module-setup.sh
Labels: modules

#1362 feat(systemd-ac-power): introducing the systemd-ac-power module
  dracut.spec
  modules.d/01systemd-ac-power/99-initrd-power-targets.rules
  modules.d/01systemd-ac-power/initrd-on-ac-power.target
  modules.d/01systemd-ac-power/initrd-on-battery-power.target
  modules.d/01systemd-ac-power/module-setup.sh
Labels: modules

#1354 feat(systemd-hostnamed): introducing the systemd-hostnamed module
  dracut.spec
  modules.d/01systemd-hostnamed/99-systemd-networkd-dracut.conf
  modules.d/01systemd-hostnamed/module-setup.sh
  modules.d/01systemd-hostnamed/org.freedesktop.hostname1_dracut.conf
  modules.d/01systemd-hostnamed/systemd-hostname-dracut.conf
Labels: modules

#1358 feat(systemd-resolved): introducing the systemd-resolved module
  dracut.spec
  modules.d/01systemd-resolved/module-setup.sh
  modules.d/01systemd-resolved/resolved-tmpfile-dracut.conf
Labels: modules

#1373 fix(systemd-modules-load): misc repairs
  modules.d/01systemd-modules-load/module-setup.sh
Labels: modules

#1379 fix(img-lib): Fixed the "ignored null byte in input" issue
  modules.d/99img-lib/img-lib.sh
  modules.d/99img-lib/module-setup.sh
Labels: img-lib, modules

#1383 fix(network-manager): run after dracut-cmdline
  modules.d/35network-manager/nm-initrd.service
  modules.d/35network-manager/nm-run.service
Labels: modules, network-manager

#1350 feat(systemd-timedated): introducing the systemd-timedated module
  dracut.spec
  modules.d/01systemd-timedated/module-setup.sh
Labels: modules

#1348 fix(systemd-networkd): make systemd-networkd a proper network provider
  modules.d/02systemd-networkd/module-setup.sh
  modules.d/40network/module-setup.sh
Labels: modules, network, systemd-networkd

#1387 fix(systemd-hostnamed): extra quote
  modules.d/01systemd-hostnamed/module-setup.sh
Labels: modules

#1388 fix(network): use global variable for sdnetworkd instead of path
  modules.d/40network/module-setup.sh
Labels: modules, network

#1385 feat(systemd-network-management): introducing the systemd-network-man…
  dracut.spec
  modules.d/00systemd-network-management/module-setup.sh
Labels: modules

#1382 fix(network-manager): set timeout via command line option
  modules.d/35network-manager/nm-wait-online-initrd.service
Labels: modules, network-manager

#1391 refactor: check() in systemd modules
  modules.d/01systemd-ask-password/module-setup.sh
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-hostnamed/module-setup.sh
  modules.d/01systemd-resolved/module-setup.sh
  modules.d/01systemd-timesyncd/module-setup.sh
Labels: modules

#1392 fix: quotes in systemd modules
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/01systemd-sysctl/module-setup.sh
  modules.d/01systemd-sysusers/module-setup.sh
Labels: modules

#1352 feat(systemd-initrd): add initrd-usr-fs.target
  modules.d/01systemd-initrd/module-setup.sh
Labels: modules, systemd-initrd

#1397 fix(iscsi): only rely on socket activiation
  modules.d/95iscsi/module-setup.sh
Labels: iscsi, modules

#1399 ci: run all Fedora CI in a matrix
  .github/workflows/fedora-32.yml
  .github/workflows/fedora-33.yml
  .github/workflows/fedora-latest.yml
  .github/workflows/fedora.yml
Labels: github, test

#1400 test: don't fail on modprobe btrfs in create-root.sh
  test/TEST-03-USR-MOUNT/create-root.sh
  test/TEST-04-FULL-SYSTEMD/create-root.sh
  test/TEST-15-BTRFSRAID/create-root.sh
Labels: test

#1398 test(ISCSI): fix the watchdog loop
  test/TEST-30-ISCSI/server-init.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/server-init.sh
  test/TEST-35-ISCSI-MULTI/test.sh
Labels: test

#1401 fix(iscsi): add iscsid.service requirements
  modules.d/95iscsi/module-setup.sh
Labels: iscsi, modules

#1402 ci: reorder the tests
  .github/workflows/fedora.yml
Labels: github

#1395 feat(systemd-verity): introducing the systemd-verity module
  dracut.spec
  modules.d/01systemd-verity/module-setup.sh
Labels: modules

#1406 Fixverity
  dracut.spec
  modules.d/01systemd-veritysetup/module-setup.sh
Labels: modules

#1407 fix(network-legacy): add missing options to dhclient.conf
  modules.d/35network-legacy/dhclient.conf
Labels: modules, network-legacy

#1394 fix(multipath): stop multipath before udev db cleanup
  modules.d/90multipath/multipathd.service
Labels: github, iscsi, modules, multipath, test

#1405 fix(network): use wicked unit instead of find_binary
  modules.d/40network/module-setup.sh
Labels: modules, network

#1410 feat(systemd-udevd): introducing the systemd-udevd module
  dracut.spec
  modules.d/01systemd-udevd/module-setup.sh
Labels: modules

#1414 ci: switch to action-sh-checker v0.2.0
  .github/workflows/lint.yml
Labels: github

#1415 fix(systemd-udev): use global vars instead of fixed path
  modules.d/01systemd-udevd/module-setup.sh
Labels: modules
