Repository dracutdevs/dracut, pull requests merged in 2021-05, with the labels that each got.

#1409 fix(udev-rules): remove sourcing of network link files
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-manager/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
  test/TEST-30-ISCSI/test.sh
Labels: modules, network-legacy, network-manager, test, udev-rules

#1416 fix(integrity): Properly set up EVM when using an x509 cert
  modules.d/98integrity/evm-enable.sh
Labels: integrity, modules

#1417 fix(systemd-udevd): add udev id program files
  modules.d/01systemd-udevd/module-setup.sh
Labels: modules

#1418 fix(systemd): include all nss libraries
  modules.d/00systemd/module-setup.sh
Labels: modules, systemd

#1419 fix(systemd-resolved): remove nss libraries
  modules.d/01systemd-resolved/module-setup.sh
Labels: modules

#1424 fix(mdraid): remove dependency statements
  modules.d/90mdraid/md-noddf.sh
  modules.d/90mdraid/md-noimsm.sh
  modules.d/90mdraid/module-setup.sh
Labels: mdraid, modules

#1428 chore(tree): move tools into their own directory
  .github/workflows/fedora.yml
  Makefile
  tools/fedora-test-github.sh
  tools/fedora-test.sh
  tools/git2spec.pl
  tools/profile.py
Labels: github

#1420 fix(systemd-sysusers): misc fixes and cleanup
  modules.d/01systemd-sysusers/module-setup.sh
Labels: modules

#1431 test: use `uname -m` to determine qemu-system
  test/run-qemu
Labels: test

#1435 fix(crypt): install all crypto modules in the generic initrd
  modules.d/90crypt/module-setup.sh
Labels: crypt, modules

#1437 fix: install all depmod relevant configuration files
  dracut.sh
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#1438 test(FULL SYSTEMD): try pacman rather than rpm on Arch
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#1440 test(NFS): let it run in an Arch container
  test/TEST-20-NFS/test.sh
Labels: test

#1441 style: make indent and let shfmt fail again
  .github/workflows/lint.yml
  dracut.sh
  modules.d/35network-manager/module-setup.sh
  modules.d/98integrity/evm-enable.sh
Labels: github, integrity, modules, network-manager

#1442 Support ZSTD-compressed kernel modules
  dracut-init.sh
  dracut.sh
  install/dracut-install.c
Labels: dracut-install

#1446 fix: shellcheck 0.7.2
  .github/workflows/lint.yml
  .shellcheckrc
  dracut.sh
  modules.d/01systemd-ask-password/module-setup.sh
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/01systemd-sysctl/module-setup.sh
  modules.d/06dbus-broker/module-setup.sh
  modules.d/06dbus-daemon/module-setup.sh
  modules.d/09dbus/module-setup.sh
  modules.d/35network-legacy/dhcp-multi.sh
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-legacy/parse-ip-opts.sh
  modules.d/40network/module-setup.sh
  modules.d/40network/net-lib.sh
  modules.d/62bluetooth/module-setup.sh
  modules.d/81cio_ignore/parse-cio_accept.sh
  modules.d/90crypt/module-setup.sh
  modules.d/90dmsquash-live/dmsquash-generator.sh
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90dmsquash-live/module-setup.sh
  modules.d/90livenet/livenet-generator.sh
  modules.d/90livenet/module-setup.sh
  modules.d/90lvm/parse-lvm.sh
  modules.d/90mdraid/parse-md.sh
  modules.d/95nbd/nbdroot.sh
  modules.d/95znet/module-setup.sh
  modules.d/95znet/parse-ccw.sh
  modules.d/98dracut-systemd/dracut-cmdline-ask.sh
  modules.d/99base/init.sh
  modules.d/99img-lib/img-lib.sh
  modules.d/99memstrack/memstrack-start.sh
  modules.d/99memstrack/module-setup.sh
  modules.d/99shutdown/shutdown.sh
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/server-init.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/server-init.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/client-init.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/99-default.link
  test/TEST-60-BONDBRIDGEVLANIFCFG/server-init.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/test.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/wait-if-server.sh
Labels: base, cio_ignore, crypt, dmsquash-live, dracut-systemd, github, img-lib, livenet, lvm, mdraid, memstrack, modules, nbd, network, network-legacy, shutdown, test, znet

#1451 fix(fips): add dh and ecdh ciphers
  modules.d/01fips/module-setup.sh
Labels: fips, modules

#1454 fix(base): suppress calls to getarg in build phase
  modules.d/99base/module-setup.sh
Labels: base, modules

#1456 refactor(systemd-networkd): cosmetic move to 01
  modules.d/01systemd-networkd/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1452 feat(systemd-ldconfig): introducing the systemd-ldconfig module
  modules.d/01systemd-ldconfig/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1453 feat(systemd-rfkill): introducing the systemd-rfkill module
  modules.d/01systemd-rfkill/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1455 feat(systemd-journald): introducing the systemd-journald module
  modules.d/01systemd-journald/initrd.conf
  modules.d/01systemd-journald/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1464 ci: build container images and push to ghcr.io
  .github/workflows/container.yml
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Fedora-33
  test/container/Dockerfile-Fedora-34
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-OpenSuse-latest
Labels: github, test

#1468 ci: cleanup the arch container
  test/container/Dockerfile-Arch
Labels: test

#1482 fix: adding crc32c for ext3
  modules.d/99fs-lib/module-setup.sh
Labels: fs-lib, modules

#1481 fix(url-lib): fix passing args
  modules.d/45url-lib/url-lib.sh
Labels: modules, url-lib

#1480 fix(crypt-gpg): cope with different scdaemon location
  modules.d/91crypt-gpg/module-setup.sh
Labels: crypt-gpg, modules

#1476 fix(iscsi): replace sed call with bash internals
  modules.d/95iscsi/iscsiroot.sh
Labels: iscsi, modules

#1475 fix(nbd): assume nbd version >= 3.8
  modules.d/95nbd/nbdroot.sh
Labels: modules, nbd

#1474 fix: cope with distributions with `/usr/etc` files
  modules.d/95cifs/module-setup.sh
  modules.d/95nfs/module-setup.sh
  modules.d/95ssh-client/module-setup.sh
Labels: cifs, modules, nfs, ssh-client

#1473 fix(network-manager): cope with distributions not using `libexec`
  modules.d/35network-manager/module-setup.sh
  modules.d/35network-manager/nm-lib.sh
Labels: modules, network-manager

#1465 feat(systemd-sysext): introducing the systemd-sysext module
  modules.d/01systemd-sysext/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1485 ci: create a fedora rawhide container
  .github/workflows/container.yml
  test/container/Dockerfile-Fedora-rawhide
Labels: github, test

#1466 ci: run the integration tests on more distributions
  .github/workflows/fedora.yml
  .github/workflows/integration.yml
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/test.sh
  tools/fedora-test.sh
  tools/test-github.sh
Labels: github, test

#1496 fix(base): split out `dracut-dev-lib.sh`
  modules.d/99base/dracut-dev-lib.sh
  modules.d/99base/dracut-lib.sh
  modules.d/99base/module-setup.sh
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-98-GETARG/test.sh
Labels: base, modules, test

#1500 fix(base): add missing `str_replace` to `dracut-dev-lib.sh`
  modules.d/99base/dracut-dev-lib.sh
  modules.d/99base/module-setup.sh
Labels: base, modules

#1498 ci: add shfmt to Fedora containers
  test/container/Dockerfile-Fedora-33
  test/container/Dockerfile-Fedora-34
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Fedora-rawhide
Labels: test

#1484 fix(squash): don't mount the mount points if already mounted
  modules.d/99squash/init-squash.sh
  modules.d/99squash/module-setup.sh
Labels: modules, squash

#1502 fix(bash): minor cleanups
  modules.d/00bash/module-setup.sh
Labels: bash, modules

#1504 fix(mksh): minor cleanups
  modules.d/00mksh/module-setup.sh
Labels: mksh, modules

#1503 fix(dash): minor cleanups
  modules.d/00dash/module-setup.sh
Labels: dash, modules

#1501 fix(warpclock): minor cleanups
  modules.d/00warpclock/module-setup.sh
  modules.d/00warpclock/warpclock.sh
Labels: modules, warpclock

#1518 fix(integrity): Require ALLOW_METADATA_WRITES to come from EVM config…
  modules.d/98integrity/evm-enable.sh
Labels: integrity, modules

#1514 fix install fsck utilities
  modules.d/99fs-lib/module-setup.sh
Labels: fs-lib, modules
