Repository dracutdevs/dracut, pull requests merged in 2021-06, with the labels that each got.

#1529 Remove quotes from cryptsetupopts in 90crypt module
  modules.d/90crypt/cryptroot-ask.sh
Labels: crypt, modules

#1526 tpm2-tss module: fix typo in depends()
  modules.d/91tpm2-tss/module-setup.sh
Labels: modules

#1545 feat(squash): install umount util
  modules.d/99squash/module-setup.sh
Labels: modules, squash

#1548 fix(network-manager): pull in network.target in nm-initrd.service
  modules.d/35network-manager/nm-initrd.service
Labels: modules, network-manager

#1525 fix(multipath): get config. dir from configuration
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#1539 fix(fips): handle s390x OSTree systems
  modules.d/01fips/fips.sh
  modules.d/01fips/module-setup.sh
Labels: fips, modules

#1532 fix(squash): create relative symlinks
  modules.d/99squash/module-setup.sh
Labels: modules, squash

#1547 fix(network-manager): support teaming under NM+systemd
  modules.d/35network-manager/module-setup.sh
Labels: modules, network-manager

#1544 fix(crypt-gpg): Execute --card-status on each try
  modules.d/91crypt-gpg/crypt-gpg-lib.sh
Labels: crypt-gpg, modules

#1534 fix(mksh): requires printf
  modules.d/00mksh/module-setup.sh
Labels: mksh, modules

#1533 fix(url-lib): make pre-pivot hook separetely per nfs mount
  modules.d/45url-lib/url-lib.sh
Labels: modules, url-lib
