Repository dracutdevs/dracut, pull requests merged in 2021-03, with the labels that each got.

#1138 Harden dracut against GZIP environment variable
  dracut.sh
Labels: needs review

#1140 dracut: don't refuse root=tmpfs when systemd is used
  modules.d/98dracut-systemd/dracut-cmdline.sh
Labels: dracut-systemd, modules

#1137 fix(kernel-modules): Optionally add /usr/lib/modules.d to initramfs
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#1133 fix: always use mkdir -p
  dracut.sh
  modules.d/01fips/fips.sh
  modules.d/80cms/cmssetup.sh
  modules.d/90crypt/crypt-lib.sh
  modules.d/90dmsquash-live/dmsquash-generator.sh
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90livenet/livenet-generator.sh
  modules.d/90mdraid/mdmon-pre-udev.sh
  modules.d/95nbd/nbd-generator.sh
  modules.d/95nfs/module-setup.sh
  modules.d/99base/init.sh
  modules.d/99shutdown/shutdown.sh
  test/TEST-03-USR-MOUNT/create-root.sh
  test/TEST-04-FULL-SYSTEMD/create-root.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/create-root.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
Labels: base, cms, crypt, dmsquash-live, fips, livenet, mdraid, modules, nbd, needs review, nfs, shutdown, test

#1134 chore(labeler): remove the needs review label
  .github/labeler.yml
Labels: github

#1135 feat(nbd): support ipv6 link local nbds
  dracut.cmdline.7.asc
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/parse-ip-opts.sh
  modules.d/95nbd/nbd-generator.sh
  modules.d/95nbd/nbdroot.sh
  modules.d/95nbd/parse-nbdroot.sh
  modules.d/99fs-lib/fs-lib.sh
Labels: fs-lib, modules, nbd, network-legacy

#1150 test: fix test 98 getarg
  test/TEST-98-GETARG/test.sh
Labels: test

#1130 feat(btrfs): add 64-btrfs-dm.rules rules
  modules.d/90btrfs/module-setup.sh
Labels: btrfs, modules

#1131 fix(udev-rules): add btrfs udev rules by default
  modules.d/95udev-rules/module-setup.sh
Labels: modules, udev-rules

#1157 qemu: include the virtio_mem kernel module
  modules.d/90qemu/module-setup.sh
Labels: modules, qemu

#1153 style: use shfmt 3.2.4
  .github/workflows/lint.yml
  HACKING.md
Labels: github

#1165 fix(bash): shellcheck for modules.d/00bash
  modules.d/00bash/.shchkdir
Labels: bash, modules

#1164 fix(base): shellcheck for modules.d/99base
  modules.d/99base/.shchkdir
  modules.d/99base/dracut-lib.sh
  modules.d/99base/init.sh
  modules.d/99base/initqueue.sh
  modules.d/99base/loginit.sh
  modules.d/99base/module-setup.sh
  modules.d/99base/parse-root-opts.sh
  modules.d/99base/rdsosreport.sh
Labels: base, modules

#1184 fix(dbus-broker): shellcheck for modules.d/06dbus-broker
  modules.d/06dbus-broker/.shchkdir
  modules.d/06dbus-broker/module-setup.sh
Labels: modules

#1185 fix(dbus-daemon): shellcheck for modules.d/06dbus-daemon
  modules.d/06dbus-daemon/.shchkdir
  modules.d/06dbus-daemon/module-setup.sh
Labels: modules

#1189 fix(convertfs): shellcheck for modules.d/30convertfs
  modules.d/30convertfs/.shchkdir
  modules.d/30convertfs/convertfs.sh
Labels: convertfs, modules

#1191 fix(network-manager): shellcheck for modules.d/35network-manager
  modules.d/35network-manager/.shchkdir
  modules.d/35network-manager/module-setup.sh
  modules.d/35network-manager/nm-config.sh
  modules.d/35network-manager/nm-lib.sh
  modules.d/35network-manager/nm-run.sh
Labels: modules, network-manager

#1168 fix(systemd): shellcheck for modules.d/00systemd
  modules.d/00systemd/.shchkdir
  modules.d/00systemd/module-setup.sh
Labels: modules, systemd

#1261 fix: shellcheck for dracut*.sh
  .github/workflows/lint.yml
  dracut-functions.sh
  dracut-init.sh
  dracut-logger.sh
  dracut.sh
Labels: github

#1188 fix(i18n): shellcheck for modules.d/10i18n
  modules.d/10i18n/.shchkdir
  modules.d/10i18n/console_init.sh
  modules.d/10i18n/module-setup.sh
Labels: i18n, modules

#1192 fix(network-wicked): shellcheck for modules.d/35network-wicked
  modules.d/35network-wicked/.shchkdir
  modules.d/35network-wicked/module-setup.sh
Labels: modules

#1193 fix(network): shellcheck for modules.d/40network
  modules.d/40network/.shchkdir
  modules.d/40network/dhcp-root.sh
  modules.d/40network/ifname-genrules.sh
  modules.d/40network/module-setup.sh
  modules.d/40network/net-lib.sh
  modules.d/40network/netroot.sh
Labels: modules, network

#1203 fix(crypt): shellcheck for modules.d/90crypt
  modules.d/90crypt/.shchkdir
  modules.d/90crypt/crypt-cleanup.sh
  modules.d/90crypt/crypt-lib.sh
  modules.d/90crypt/cryptroot-ask.sh
  modules.d/90crypt/module-setup.sh
  modules.d/90crypt/parse-crypt.sh
  modules.d/90crypt/parse-keydev.sh
Labels: crypt, modules

#1202 fix(btrfs): shellcheck for modules.d/90btrfs
  modules.d/90btrfs/.shchkdir
  modules.d/90btrfs/module-setup.sh
Labels: btrfs, modules

#1201 fix(cio_ignore): shellcheck for modules.d/81cio_ignore
  modules.d/81cio_ignore/.shchkdir
  modules.d/81cio_ignore/module-setup.sh
  modules.d/81cio_ignore/parse-cio_accept.sh
Labels: cio_ignore, modules

#1200 fix(lvmmerge): shellcheck for modules.d/80lvmmerge
  modules.d/80lvmmerge/.shchkdir
  modules.d/80lvmmerge/lvmmerge.sh
Labels: lvmmerge, modules

#1194 fix(ifcfg): shellcheck for modules.d/45ifcfg
  modules.d/45ifcfg/.shchkdir
  modules.d/45ifcfg/write-ifcfg.sh
Labels: ifcfg, modules

#1195 fix(url-lib): shellcheck for modules.d/45url-lib
  modules.d/45url-lib/.shchkdir
  modules.d/45url-lib/module-setup.sh
  modules.d/45url-lib/url-lib.sh
Labels: modules, url-lib

#1196 fix(drm): shellcheck for modules.d/50drm
  modules.d/50drm/.shchkdir
  modules.d/50drm/module-setup.sh
Labels: drm, modules

#1197 fix(gensplash): shellcheck for modules.d/50gensplash
  modules.d/50gensplash/.shchkdir
  modules.d/50gensplash/gensplash-emergency.sh
  modules.d/50gensplash/gensplash-newroot.sh
  modules.d/50gensplash/gensplash-pretrigger.sh
  modules.d/50gensplash/module-setup.sh
Labels: gensplash, modules

#1198 fix(plymouth): shellcheck for modules.d/50plymouth
  modules.d/50plymouth/.shchkdir
  modules.d/50plymouth/module-setup.sh
  modules.d/50plymouth/plymouth-newroot.sh
  modules.d/50plymouth/plymouth-populate-initrd.sh
  modules.d/50plymouth/plymouth-pretrigger.sh
Labels: modules, plymouth

#1199 fix(cms): shellcheck for modules.d/80cms
  modules.d/80cms/.shchkdir
  modules.d/80cms/cms-write-ifcfg.sh
  modules.d/80cms/cmsifup.sh
  modules.d/80cms/cmssetup.sh
  modules.d/80cms/module-setup.sh
Labels: cms, modules

#1205 fix(dmraid): shellcheck for modules.d/90dmraid
  modules.d/90dmraid/.shchkdir
  modules.d/90dmraid/dmraid.sh
  modules.d/90dmraid/module-setup.sh
Labels: dmraid, modules

#1208 fix(kernel-modules): shellcheck for modules.d/90kernel-modules
  modules.d/90kernel-modules/.shchkdir
  modules.d/90kernel-modules/insmodpost.sh
  modules.d/90kernel-modules/module-setup.sh
  modules.d/90kernel-modules/parse-kernel.sh
Labels: kernel-modules, modules

#1209 fix(kernel-modules-extra): shellcheck for modules.d/90kernel-modules-…
  modules.d/90kernel-modules-extra/.shchkdir
  modules.d/90kernel-modules-extra/module-setup.sh
Labels: kernel-modules-extra, modules

#1210 fix(kernel-network-modules): shellcheck for modules.d/90kernel-networ…
  modules.d/90kernel-network-modules/.shchkdir
  modules.d/90kernel-network-modules/module-setup.sh
Labels: kernel-network-modules, modules

#1211 fix(livenet): shellcheck for modules.d/90livenet
  modules.d/90livenet/.shchkdir
  modules.d/90livenet/fetch-liveupdate.sh
  modules.d/90livenet/livenetroot.sh
  modules.d/90livenet/module-setup.sh
  modules.d/90livenet/parse-livenet.sh
Labels: livenet, modules

#1212 fix(lvm): shellcheck for modules.d/90lvm
  modules.d/90lvm/.shchkdir
  modules.d/90lvm/lvm_scan.sh
  modules.d/90lvm/module-setup.sh
Labels: lvm, modules

#1214 fix(multipath): shellcheck for modules.d/90multipath
  modules.d/90multipath/.shchkdir
  modules.d/90multipath/module-setup.sh
  modules.d/90multipath/multipath-shutdown.sh
  modules.d/90multipath/multipathd-needshutdown.sh
  modules.d/90multipath/multipathd-stop.sh
Labels: modules, multipath

#1215 fix(nvdimm): shellcheck for modules.d/90nvdimm
  modules.d/90nvdimm/.shchkdir
  modules.d/90nvdimm/module-setup.sh
Labels: modules, nvdimm

#1216 fix(ppcmac): shellcheck for modules.d/90ppcmac
  modules.d/90ppcmac/.shchkdir
  modules.d/90ppcmac/load-thermal.sh
  modules.d/90ppcmac/module-setup.sh
Labels: modules, ppcmac

#1217 fix(qemu): shellcheck for modules.d/90qemu
  modules.d/90qemu/.shchkdir
Labels: modules, qemu

#1220 fix(crypt-loop): shellcheck for modules.d/91crypt-loop
  modules.d/91crypt-loop/.shchkdir
  modules.d/91crypt-loop/crypt-loop-lib.sh
Labels: crypt-loop, modules

#1221 fix(zipl): shellcheck for modules.d/91zipl
  modules.d/91zipl/.shchkdir
  modules.d/91zipl/install_zipl_cmdline.sh
  modules.d/91zipl/module-setup.sh
  modules.d/91zipl/parse-zipl.sh
Labels: modules, zipl

#1223 fix(dasd): shellcheck for modules.d/95dasd
  modules.d/95dasd/.shchkdir
  modules.d/95dasd/parse-dasd.sh
Labels: dasd, modules

#1224 fix(dasd_mod): shellcheck for modules.d/95dasd_mod
  modules.d/95dasd_mod/.shchkdir
Labels: dasd_mod, modules

#1225 fix(dasd_rules): shellcheck for modules.d/95dasd_rules
  modules.d/95dasd_rules/.shchkdir
  modules.d/95dasd_rules/module-setup.sh
  modules.d/95dasd_rules/parse-dasd.sh
Labels: dasd_rules, modules

#1226 fix(dcssblk): shellcheck for modules.d/95dcssblk
  modules.d/95dcssblk/.shchkdir
  modules.d/95dcssblk/parse-dcssblk.sh
Labels: dcssblk, modules

#1259 fix(uefi-lib): shellcheck for modules.d/99uefi-lib
  modules.d/99uefi-lib/.shchkdir
  modules.d/99uefi-lib/uefi-lib.sh
Labels: modules, uefi-lib

#1254 fix(fs-lib): shellcheck for modules.d/99fs-lib
  modules.d/99fs-lib/.shchkdir
  modules.d/99fs-lib/fs-lib.sh
  modules.d/99fs-lib/module-setup.sh
Labels: fs-lib, modules

#1253 fix(syslog): shellcheck for modules.d/98syslog
  modules.d/98syslog/.shchkdir
  modules.d/98syslog/module-setup.sh
  modules.d/98syslog/parse-syslog-opts.sh
  modules.d/98syslog/rsyslogd-start.sh
  modules.d/98syslog/rsyslogd-stop.sh
  modules.d/98syslog/syslog-cleanup.sh
Labels: modules, syslog

#1257 fix(shutdown): shellcheck for modules.d/99shutdown
  modules.d/99shutdown/.shchkdir
  modules.d/99shutdown/module-setup.sh
  modules.d/99shutdown/shutdown.sh
Labels: modules, shutdown

#1256 fix(memstrack): shellcheck for modules.d/99memstrack
  modules.d/99memstrack/.shchkdir
  modules.d/99memstrack/memstrack-report.sh
  modules.d/99memstrack/memstrack-start.sh
  modules.d/99memstrack/module-setup.sh
Labels: memstrack, modules

#1255 fix(img-lib): shellcheck for modules.d/99img-lib
  modules.d/99img-lib/.shchkdir
  modules.d/99img-lib/img-lib.sh
  modules.d/99img-lib/module-setup.sh
Labels: img-lib, modules

#1252 fix(selinux): shellcheck for modules.d/98selinux
  modules.d/98selinux/.shchkdir
  modules.d/98selinux/selinux-loadpolicy.sh
Labels: modules, selinux

#1251 fix(pollcdrom): shellcheck for modules.d/98pollcdrom
  modules.d/98pollcdrom/.shchkdir
  modules.d/98pollcdrom/pollcdrom.sh
Labels: modules, pollcdrom

#1250 fix(integrity): shellcheck for modules.d/98integrity
  modules.d/98integrity/.shchkdir
  modules.d/98integrity/evm-enable.sh
  modules.d/98integrity/ima-keys-load.sh
  modules.d/98integrity/ima-policy-load.sh
Labels: integrity, modules

#1249 fix(ecryptfs): shellcheck for modules.d/98ecryptfs
  modules.d/98ecryptfs/.shchkdir
  modules.d/98ecryptfs/ecryptfs-mount.sh
Labels: ecryptfs, modules

#1248 fix(dracut-systemd): shellcheck for modules.d/98dracut-systemd
  modules.d/98dracut-systemd/.shchkdir
  modules.d/98dracut-systemd/dracut-cmdline-ask.sh
  modules.d/98dracut-systemd/dracut-cmdline.sh
  modules.d/98dracut-systemd/dracut-emergency.sh
  modules.d/98dracut-systemd/dracut-initqueue.sh
  modules.d/98dracut-systemd/dracut-mount.sh
  modules.d/98dracut-systemd/dracut-pre-udev.sh
  modules.d/98dracut-systemd/module-setup.sh
  modules.d/98dracut-systemd/rootfs-generator.sh
Labels: dracut-systemd, modules

#1247 fix(masterkey): shellcheck for modules.d/97masterkey
  modules.d/97masterkey/.shchkdir
  modules.d/97masterkey/masterkey.sh
Labels: masterkey, modules

#1245 fix(znet): shellcheck for modules.d/95znet
  modules.d/95znet/.shchkdir
  modules.d/95znet/parse-ccw.sh
Labels: modules, znet

#1244 fix(zfcp_rules): shellcheck for modules.d/95zfcp_rules
  modules.d/95zfcp_rules/.shchkdir
  modules.d/95zfcp_rules/module-setup.sh
  modules.d/95zfcp_rules/parse-zfcp.sh
Labels: modules, zfcp_rules

#1243 fix(zfcp): shellcheck for modules.d/95zfcp
  modules.d/95zfcp/.shchkdir
  modules.d/95zfcp/parse-zfcp.sh
Labels: modules, zfcp

#1242 fix(virtfs): shellcheck for modules.d/95virtfs
  modules.d/95virtfs/.shchkdir
  modules.d/95virtfs/mount-virtfs.sh
  modules.d/95virtfs/parse-virtfs.sh
Labels: modules, virtfs

#1241 fix(udev-rules): shellcheck for modules.d/95udev-rules
  modules.d/95udev-rules/.shchkdir
  modules.d/95udev-rules/module-setup.sh
Labels: modules, udev-rules

#1239 fix(ssh-client): shellcheck for modules.d/95ssh-client
  modules.d/95ssh-client/.shchkdir
  modules.d/95ssh-client/module-setup.sh
Labels: modules, ssh-client

#1238 fix(rootfs-block): shellcheck for modules.d/95rootfs-block
  modules.d/95rootfs-block/.shchkdir
  modules.d/95rootfs-block/module-setup.sh
  modules.d/95rootfs-block/mount-root.sh
  modules.d/95rootfs-block/parse-block.sh
Labels: modules, rootfs-block

#1237 fix(resume): shellcheck for modules.d/95resume
  modules.d/95resume/.shchkdir
  modules.d/95resume/parse-resume.sh
  modules.d/95resume/resume.sh
Labels: modules, resume

#1236 fix(qeth_rules): shellcheck for modules.d/95qeth_rules
  modules.d/95qeth_rules/.shchkdir
  modules.d/95qeth_rules/module-setup.sh
Labels: modules, qeth_rules

#1235 fix(nvmf): shellcheck for modules.d/95nvmf
  modules.d/95nvmf/.shchkdir
  modules.d/95nvmf/module-setup.sh
  modules.d/95nvmf/parse-nvmf-boot-connections.sh
Labels: modules, nvmf

#1234 fix(nfs): shellcheck for modules.d/95nfs
  modules.d/95nfs/.shchkdir
  modules.d/95nfs/nfs-lib.sh
  modules.d/95nfs/nfsroot-cleanup.sh
  modules.d/95nfs/nfsroot.sh
  modules.d/95nfs/parse-nfsroot.sh
Labels: modules, nfs

#1228 fix(fcoe): shellcheck for modules.d/95fcoe
  modules.d/95fcoe/.shchkdir
  modules.d/95fcoe/fcoe-edd.sh
  modules.d/95fcoe/fcoe-genrules.sh
  modules.d/95fcoe/fcoe-up.sh
  modules.d/95fcoe/module-setup.sh
  modules.d/95fcoe/parse-fcoe.sh
  modules.d/95fcoe/stop-fcoe.sh
Labels: fcoe, modules

#1233 fix(nbd): shellcheck for modules.d/95nbd
  modules.d/95nbd/.shchkdir
  modules.d/95nbd/module-setup.sh
  modules.d/95nbd/nbdroot.sh
  modules.d/95nbd/parse-nbdroot.sh
Labels: modules, nbd

#1232 fix(lunmask): shellcheck for modules.d/95lunmask
  modules.d/95lunmask/.shchkdir
  modules.d/95lunmask/fc_transport_scan_lun.sh
  modules.d/95lunmask/module-setup.sh
  modules.d/95lunmask/parse-lunmask.sh
  modules.d/95lunmask/sas_transport_scan_lun.sh
Labels: lunmask, modules

#1230 fix(fstab-sys): shellcheck for modules.d/95fstab-sys
  modules.d/95fstab-sys/.shchkdir
  modules.d/95fstab-sys/mount-sys.sh
Labels: fstab-sys, modules

#1229 fix(fcoe-uefi): shellcheck for modules.d/95fcoe-uefi
  modules.d/95fcoe-uefi/.shchkdir
  modules.d/95fcoe-uefi/module-setup.sh
  modules.d/95fcoe-uefi/parse-uefifcoe.sh
Labels: fcoe-uefi, modules

#1219 fix(crypt-gpg): shellcheck for modules.d/91crypt-gpg
  modules.d/91crypt-gpg/.shchkdir
  modules.d/91crypt-gpg/crypt-gpg-lib.sh
  modules.d/91crypt-gpg/module-setup.sh
Labels: crypt-gpg, modules

#1206 fix(dmsquash-live): shellcheck for modules.d/90dmsquash-live
  modules.d/90dmsquash-live/.shchkdir
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90dmsquash-live/dmsquash-liveiso-genrules.sh
  modules.d/90dmsquash-live/iso-scan.sh
  modules.d/90dmsquash-live/module-setup.sh
Labels: dmsquash-live, modules

#1264 test(FULL-SYSTEMD): add fuse kernel module in test root
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#1222 fix(cifs): shellcheck for modules.d/95cifs
  modules.d/95cifs/.shchkdir
  modules.d/95cifs/cifs-lib.sh
  modules.d/95cifs/parse-cifsroot.sh
Labels: cifs, modules

#1278 fix(TEST-30-ISCSI): add sync to client root creation
  test/TEST-30-ISCSI/test.sh
Labels: test

#1213 fix(mdraid): shellcheck for modules.d/90mdraid
  modules.d/90mdraid/.shchkdir
  modules.d/90mdraid/md-shutdown.sh
  modules.d/90mdraid/mdmon-pre-shutdown.sh
  modules.d/90mdraid/mdraid-cleanup.sh
  modules.d/90mdraid/mdraid-waitclean.sh
  modules.d/90mdraid/mdraid_start.sh
  modules.d/90mdraid/module-setup.sh
  modules.d/90mdraid/parse-md.sh
Labels: mdraid, modules

#1231 fix(iscsi): shellcheck for modules.d/95iscsi
  modules.d/95iscsi/.shchkdir
  modules.d/95iscsi/iscsiroot.sh
  modules.d/95iscsi/module-setup.sh
  modules.d/95iscsi/mount-lun.sh
  modules.d/95iscsi/parse-iscsiroot.sh
Labels: iscsi, modules

#1282 fix(busybox): shellcheck for modules.d/05busybox
  modules.d/05busybox/.shchkdir
  modules.d/05busybox/module-setup.sh
Labels: busybox, modules

#1174 fix(systemd-modules-load): shellcheck for modules.d/01systemd-modules…
  modules.d/01systemd-modules-load/.shchkdir
  modules.d/01systemd-modules-load/module-setup.sh
Labels: modules

#1190 fix(network-legacy): shellcheck for modules.d/35network-legacy
  modules.d/35network-legacy/.shchkdir
  modules.d/35network-legacy/dhclient-script.sh
  modules.d/35network-legacy/dhcp-multi.sh
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/kill-dhclient.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-legacy/net-genrules.sh
  modules.d/35network-legacy/parse-bond.sh
  modules.d/35network-legacy/parse-bridge.sh
  modules.d/35network-legacy/parse-ifname.sh
  modules.d/35network-legacy/parse-ip-opts.sh
  modules.d/35network-legacy/parse-team.sh
  modules.d/35network-legacy/parse-vlan.sh
Labels: modules, network-legacy

#1158 fix(install): handle builtin modules
  install/dracut-install.c
Labels: dracut-install

#1204 fix(dm): shellcheck for modules.d/90dm
  modules.d/90dm/.shchkdir
  modules.d/90dm/dm-shutdown.sh
Labels: dm, modules

#1286 fix(test/run-qemu): shellcheck for test/run-qemu
  test/run-qemu
Labels: test

#1287 fix(test/test-functions): shellcheck for test/test-functions
  test/test-functions
Labels: test

#1290 fix(examples/yocto): shellcheck
  examples/yocto/postinst-intercepts/execute_dracut
Labels: example

#1280 dbus-broker: enable the service
  modules.d/06dbus-broker/module-setup.sh
Labels: modules

#1291 fix(TEST RPM): shellcheck
  test/TEST-99-RPM/.shchkdir
  test/TEST-99-RPM/test.sh
Labels: test

#1292 fix(TEST GETARG): shellcheck
  test/TEST-98-GETARG/.shchkdir
  test/TEST-98-GETARG/test.sh
Labels: test

#1293 fix(TEST BONDBRIDGEVLANIFCFG): shellcheck
  test/TEST-60-BONDBRIDGEVLANIFCFG/.shchkdir
  test/TEST-60-BONDBRIDGEVLANIFCFG/client-init.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/create-root.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/server-init.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/test.sh
Labels: test

#1295 fix(TEST NBD): shellcheck
  test/TEST-40-NBD/.shchkdir
  test/TEST-40-NBD/client-init.sh
  test/TEST-40-NBD/create-client-root.sh
  test/TEST-40-NBD/create-encrypted-root.sh
  test/TEST-40-NBD/create-server-root.sh
  test/TEST-40-NBD/cryptroot-ask.sh
  test/TEST-40-NBD/server-init.sh
  test/TEST-40-NBD/test.sh
Labels: test

#1296 fix(TEST ISCSI-MULTI): shellcheck
  test/TEST-35-ISCSI-MULTI/.shchkdir
  test/TEST-35-ISCSI-MULTI/client-init.sh
  test/TEST-35-ISCSI-MULTI/create-client-root.sh
  test/TEST-35-ISCSI-MULTI/create-server-root.sh
  test/TEST-35-ISCSI-MULTI/server-init.sh
  test/TEST-35-ISCSI-MULTI/test.sh
Labels: test

#1301 fix(TEST BTRFSRAID): shellcheck
  test/TEST-15-BTRFSRAID/.shchkdir
  test/TEST-15-BTRFSRAID/create-root.sh
  test/TEST-15-BTRFSRAID/test.sh
Labels: test

#1303 fix(TEST ENC-RAID-LVM): shellcheck
  test/TEST-13-ENC-RAID-LVM/.shchkdir
  test/TEST-13-ENC-RAID-LVM/create-root.sh
  test/TEST-13-ENC-RAID-LVM/cryptroot-ask.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
Labels: test

#1284 fix(usrmount): shellcheck for modules.d/98usrmount
  modules.d/98usrmount/.shchkdir
  modules.d/98usrmount/mount-usr.sh
Labels: modules, usrmount

#1312 fix(memstrack): correct dependencies
  modules.d/99memstrack/memstrack-report.sh
  modules.d/99memstrack/module-setup.sh
Labels: memstrack, modules

#1313 fix(zfcp_rules): require bash
  modules.d/95zfcp_rules/module-setup.sh
Labels: modules, zfcp_rules

#1298 fix(TEST NFS): shellcheck
  test/TEST-20-NFS/.shchkdir
  test/TEST-20-NFS/client-init.sh
  test/TEST-20-NFS/create-root.sh
  test/TEST-20-NFS/server-init.sh
  test/TEST-20-NFS/test.sh
Labels: test

#1299 fix(TEST LVM-THIN): shellcheck
  test/TEST-17-LVM-THIN/.shchkdir
  test/TEST-17-LVM-THIN/create-root.sh
  test/TEST-17-LVM-THIN/test-init.sh
  test/TEST-17-LVM-THIN/test.sh
Labels: test

#1300 fix(TEST DMSQUASH): shellcheck
  test/TEST-16-DMSQUASH/.shchkdir
  test/TEST-16-DMSQUASH/test-init.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test

#1302 fix(TEST IMSM): shellcheck
  test/TEST-14-IMSM/.shchkdir
  test/TEST-14-IMSM/create-root.sh
  test/TEST-14-IMSM/cryptroot-ask.sh
  test/TEST-14-IMSM/test-init.sh
  test/TEST-14-IMSM/test.sh
Labels: test

#1304 fix(TEST RAID-DEG): shellcheck
  test/TEST-12-RAID-DEG/.shchkdir
  test/TEST-12-RAID-DEG/create-root.sh
  test/TEST-12-RAID-DEG/cryptroot-ask.sh
  test/TEST-12-RAID-DEG/test-init.sh
  test/TEST-12-RAID-DEG/test.sh
Labels: test

#1305 fix(TEST LVM): shellcheck
  test/TEST-11-LVM/.shchkdir
  test/TEST-11-LVM/create-root.sh
  test/TEST-11-LVM/test-init.sh
  test/TEST-11-LVM/test.sh
Labels: test

#1306 fix(TEST RAID): shellcheck
  test/TEST-10-RAID/.shchkdir
  test/TEST-10-RAID/create-root.sh
  test/TEST-10-RAID/test-init.sh
  test/TEST-10-RAID/test.sh
Labels: test

#1307 fix(TEST FULL-SYSTEMD): shellcheck
  test/TEST-04-FULL-SYSTEMD/.shchkdir
  test/TEST-04-FULL-SYSTEMD/create-root.sh
  test/TEST-04-FULL-SYSTEMD/test-init.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#1308 fix(TEST USR-MOUNT): shellcheck
  test/TEST-03-USR-MOUNT/.shchkdir
  test/TEST-03-USR-MOUNT/create-root.sh
  test/TEST-03-USR-MOUNT/test-init.sh
  test/TEST-03-USR-MOUNT/test.sh
Labels: test

#1309 fix(TEST SYSTEMD): shellcheck
  test/TEST-02-SYSTEMD/.shchkdir
  test/TEST-02-SYSTEMD/create-root.sh
  test/TEST-02-SYSTEMD/systemd-analyze.sh
  test/TEST-02-SYSTEMD/test-init.sh
  test/TEST-02-SYSTEMD/test.sh
Labels: test

#1315 fix(fcoe): remove needless bash dependency
  modules.d/95fcoe/lldpad.sh
  modules.d/95fcoe/stop-fcoe.sh
Labels: fcoe, modules

#1294 fix(TEST MULTINIC): shellcheck
  test/TEST-50-MULTINIC/.shchkdir
  test/TEST-50-MULTINIC/client-init.sh
  test/TEST-50-MULTINIC/create-root.sh
  test/TEST-50-MULTINIC/server-init.sh
  test/TEST-50-MULTINIC/test.sh
Labels: test

#1316 fix(fcoe-uefi): add bash dependency
  modules.d/95fcoe-uefi/module-setup.sh
Labels: fcoe-uefi, modules

#1324 fix(caps): require bash
  modules.d/02caps/module-setup.sh
Labels: caps, modules

#1332 fix(nvdimm): shellcheck regression
  modules.d/90nvdimm/module-setup.sh
Labels: modules, nvdimm

#1331 fix(multipath): shellcheck regression
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#1330 fix(multipath): revise multipathd-stop
  modules.d/90multipath/module-setup.sh
  modules.d/90multipath/multipathd-stop.sh
Labels: modules, multipath

#1325 fix(zipl): don't depend on grub2
  modules.d/91zipl/module-setup.sh
Labels: modules, zipl

#1322 fix(network-manager): nm-lib.sh does not require bash
  modules.d/35network-manager/nm-lib.sh
Labels: modules, network-manager

#1321 fix(cms): require bash
  modules.d/80cms/module-setup.sh
Labels: cms, modules

#1320 fix(livenet): fetch-liveupdate.sh does not require bash
  modules.d/90livenet/fetch-liveupdate.sh
Labels: livenet, modules

#1318 fix(lvmmerge): depend on bash
  modules.d/80lvmmerge/module-setup.sh
Labels: lvmmerge, modules

#1333 fix(lunmask): shellcheck regression
  modules.d/95lunmask/parse-lunmask.sh
Labels: lunmask, modules

#1340 fix(network-manager): no default deps for nm-run.service
  modules.d/35network-manager/nm-run.service
Labels: modules, network-manager

#1339 fix(network): correct regression in iface_has_carrier
  modules.d/40network/net-lib.sh
Labels: modules, network

#1338 fix(base): source hooks without exec
  modules.d/99base/dracut-lib.sh
Labels: base, modules

#1337 fix(dracut-systemd): regression on root=block:
  modules.d/98dracut-systemd/dracut-cmdline.sh
Labels: dracut-systemd, modules

#1335 fix(nbd): shellcheck regression
  modules.d/95nbd/nbdroot.sh
Labels: modules, nbd
