Repository dracutdevs/dracut, pull requests merged in 2021-07, with the labels that each got.

#1552 fix(network-manager): don't pull in systemd-udev-settle
  modules.d/35network-manager/nm-initrd.service
Labels: modules, network-manager

#1561 fix(qeth_rules): check the existence of /sys/devices/qeth/*/online beforehand
  modules.d/95qeth_rules/module-setup.sh
Labels: modules, qeth_rules

#1558 99squash: keep ld cache under initdir
  modules.d/99squash/module-setup.sh
Labels: modules, squash

#1568 dracut-systemd: do not use Requires for vconsole-setup.service
  modules.d/98dracut-systemd/dracut-cmdline-ask.service
Labels: dracut-systemd, modules

#1556 fix(kernel-modules): add more modules on RISC-V
  modules.d/90kernel-modules/module-setup.sh
Labels: kernel-modules, modules

#1562 fix(base): Fix installing dracut-util
  modules.d/99base/module-setup.sh
Labels: base, modules
