Repository dracutdevs/dracut, pull requests merged in 2022-11, with the labels that each got.

#2032 refactor(multipath): do not install the pidof binary
  modules.d/90multipath/module-setup.sh
  modules.d/90multipath/multipathd-needshutdown.sh
  modules.d/90multipath/multipathd-stop.sh
  modules.d/90multipath/multipathd.sh
Labels: modules, multipath

#2030 fix(90kernel-modules): add (nonstandard) NVMe drivers
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#2036 Add `efi-secret` to qemu driver list
  modules.d/90qemu/module-setup.sh
Labels: modules, qemu

#2026 fix(dmsquash-live-ntfs): remove unnecessary command
  modules.d/90dmsquash-live-ntfs/module-setup.sh
Labels: modules, dmsquash-live-ntfs

#2040 refactor(fs-lib.sh): udevadm info --query=property instead of --query…
  modules.d/90btrfs/btrfs_device_ready.sh
  modules.d/90btrfs/btrfs_finished.sh
  modules.d/90mdraid/mdraid-cleanup.sh
  modules.d/90mdraid/mdraid-waitclean.sh
  modules.d/90mdraid/mdraid_start.sh
  modules.d/98pollcdrom/pollcdrom.sh
  modules.d/99fs-lib/fs-lib.sh
  test/TEST-10-RAID/create-root.sh
  test/TEST-12-RAID-DEG/create-root.sh
  test/TEST-13-ENC-RAID-LVM/create-root.sh
  test/TEST-40-NBD/create-encrypted-root.sh
Labels: test, modules, btrfs, mdraid, pollcdrom, fs-lib

#2018 ci: use prebuilt Linux kernel binaries for Gentoo container
  test/container/Dockerfile-Gentoo
Labels: test

#1934 feat(overlayfs): add new module overlayfs
  .github/labeler.yml
  modules.d/90dmsquash-live/dmsquash-live-genrules.sh
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90dmsquash-live/module-setup.sh
  modules.d/90overlayfs/module-setup.sh
  modules.d/90overlayfs/mount-overlayfs.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-20-NFS/test.sh
Labels: test, modules, dmsquash-live, github

#2041 ci: fix Arch container
  test/container/Dockerfile-Arch
Labels: test

#2037 fix(kernel-modules): Add sysctl to initramfs to handle modprobe files
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#2012 ci: upgrade to actions/checkout@v3
  .github/workflows/container.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
Labels: github

#2045 fix(base): run systemctl daemon-reload after remove_hostonly_files
  modules.d/98dracut-systemd/dracut-cmdline.sh
Labels: modules, dracut-systemd

#2054 ci: add ntfs tools to test containers
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Gentoo
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#2062 chore(ci): bump docker/setup-buildx-action from 1 to 2
  .github/workflows/container.yml
Labels: github

#2063 test: explicitly check if systemctl is available for systemd tests
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#2056 ci: add tests 50,51,62 to the integration test suite
  .github/workflows/integration.yml
Labels: github

#2070 test(16): make test 16 use the test dracut modules
  test/TEST-16-DMSQUASH/finished-false.sh
  test/TEST-16-DMSQUASH/hard-off.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test

#2055 test(TEST-99-RPM): remove test
  test/TEST-99-RPM/Makefile
  test/TEST-99-RPM/test.sh
Labels: test
