Repository dracutdevs/dracut, pull requests merged in 2022-08, with the labels that each got.

#1894 refactor(url-lib): write curl output directly to file
  modules.d/45url-lib/url-lib.sh
Labels: modules, url-lib

#1891 ci: add glibc to the Arch Linux container
  test/container/Dockerfile-Arch
Labels: test

#1886 fix(dmsquash-live-root): check kernel for built-in `overlay` drivers
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live

#1882 dmsquash-live-root: Run checkisomd5 on correct device
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90dmsquash-live/module-setup.sh
Labels: modules, dmsquash-live

#1873 fix(systemd): set right permissions for the machine-id file
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#1908 test(16-DMSQUASH): make it pass on arch
  test/TEST-16-DMSQUASH/test.sh
  test/container/Dockerfile-Arch
Labels: test

#1903 fix(test): remove unnecessary setup steps
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-17-LVM-THIN/test.sh
Labels: test

#1900 ci: dependencies for testing nfs module for Debian
  test/container/Dockerfile-Debian
Labels: test

#1896 fix(dmsquash-live): check kernel for built-in squashfs drivers
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/99base/dracut-lib.sh
Labels: modules, dmsquash-live, base

#1910 Drop duplicate definition of ismounted
  modules.d/30convertfs/convertfs.sh
  modules.d/30convertfs/module-setup.sh
Labels: modules, convertfs

#1917 fix(drm): add video drivers needed on hyper-v and similar
  modules.d/50drm/module-setup.sh
Labels: modules, drm

#1898 fix(virtiofs): ismounted has a dependency on the base module
  modules.d/95virtiofs/module-setup.sh
  modules.d/95virtiofs/mount-virtiofs.sh
Labels: modules, virtiofs

#1866 fix(virtiofs): make shebangs work on split-usr systems
  modules.d/95virtiofs/module-setup.sh
  modules.d/95virtiofs/mount-virtiofs.sh
  modules.d/95virtiofs/parse-virtiofs.sh
Labels: modules, virtiofs

#1867 fix(systemd-networkd): typo in systemd-networkd.socket local conf path
  modules.d/01systemd-networkd/module-setup.sh
Labels: modules, stale

#1929 test: remove unused ci-matrix.txt file
  test/ci-matrix.txt
Labels: test

#1924 test: remove dracut.conf.test
  test/dracut.conf.test
Labels: test

#1919 fix(nfs,virtiofs): check kernel for builtin fs drivers
  modules.d/95nfs/nfs-start-rpc.sh
  modules.d/95virtiofs/mount-virtiofs.sh
  modules.d/99base/dracut-lib.sh
Labels: modules, nfs, base, virtiofs

#1945 test: list only the required modules explicitly
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/test.sh
Labels: test

#1940 chore: add execute permission to all scripts
  dracut-init.sh
  dracut-initramfs-restore.sh
  modules.d/00warpclock/module-setup.sh
  modules.d/00warpclock/warpclock.sh
  modules.d/01fips/fips-load-crypto.sh
  modules.d/01systemd-modules-load/module-setup.sh
  modules.d/06rngd/module-setup.sh
  modules.d/35connman/cm-lib.sh
  modules.d/35network-manager/nm-lib.sh
  modules.d/90ppcmac/load-thermal.sh
  modules.d/90ppcmac/module-setup.sh
  modules.d/99squash/module-setup.sh
  test/TEST-20-NFS/wait-if-server.sh
  test/TEST-30-ISCSI/wait-if-server.sh
  test/TEST-35-ISCSI-MULTI/wait-if-server.sh
  test/TEST-40-NBD/wait-if-server.sh
  test/TEST-50-MULTINIC/wait-if-server.sh
  test/TEST-60-BONDBRIDGEVLANIFCFG/wait-if-server.sh
Labels: test, modules, warpclock, fips, rngd, network-manager, ppcmac, squash

#1939 docs: clarify that rd.break stops before the breakpoint starts
  man/dracut.cmdline.7.asc
  modules.d/98dracut-systemd/dracut-mount.sh
  modules.d/98dracut-systemd/dracut-pre-mount.sh
  modules.d/98dracut-systemd/dracut-pre-pivot.sh
  modules.d/98dracut-systemd/dracut-pre-trigger.sh
  modules.d/98dracut-systemd/dracut-pre-udev.sh
  modules.d/99base/init.sh
Labels: modules, dracut-systemd, base

#1930 ci: add workflow for manual test run
  .github/workflows/manualtest.yml
Labels: github
