Repository dracutdevs/dracut, pull requests merged in 2022-03, with the labels that each got.

#1712 fix(dmsquash-live): permanent overlay on the same drive as LiveCD .iso
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live

#1718 Fix shell options leaking from the 10i18n module.
  modules.d/10i18n/module-setup.sh
Labels: modules, i18n

#1748 fix(98dracut-systemd): fix service dependencies
  modules.d/98dracut-systemd/dracut-shutdown.service
Labels: modules, dracut-systemd

#1751 fix(bluetooth): make $dbussystem/bluetooth.conf optional
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#1749 fix(udev-rules): add cdrom udev rules by default
  modules.d/90dmsquash-live/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
Labels: modules, dmsquash-live, udev-rules

#1752 fix(plymouth): hide dpkg-architecture stderr messages
  modules.d/50plymouth/module-setup.sh
Labels: modules, plymouth

#1763 fix(lvm): ignore expected error message from lvm config
  modules.d/90lvm/lvm_scan.sh
Labels: modules, lvm
