Repository dracutdevs/dracut, pull requests merged in 2022-09, with the labels that each got.

#1985 feat(systemd-pstore): introducing the systemd-pstore module
  modules.d/01systemd-pstore/module-setup.sh
  modules.d/01systemd-tmpfiles/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1984 fix(systemd): add missing modprobe@.service
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#1978 fix(load_fstype): use $1 if $2 is missing
  modules.d/99base/dracut-lib.sh
Labels: modules, base

#1977 fix(i18n): do not fail if FONT in /etc/vconsole.conf has the file extension
  modules.d/10i18n/module-setup.sh
Labels: modules, i18n

#1969 feat(systemd): install systemd-sysroot-fstab-check
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#1871 fix(squash): build ld cache for squash loader
  dracut-init.sh
  dracut.sh
  modules.d/99squash/module-setup.sh
Labels: modules, squash

#1973 ci: improve CI for containers
  .github/workflows/container.yml
Labels: github

#1964 chore(base): do not output root entry while installing base
  modules.d/99base/module-setup.sh
Labels: modules, base

#1963 chore(udev-rules): remove obsolete code
  modules.d/95udev-rules/load-modules.sh
  modules.d/95udev-rules/module-setup.sh
Labels: modules, udev-rules

#1812 ci: add Gentoo Linux container
  .github/workflows/container.yml
  .github/workflows/manualtest.yml
  test/container/Dockerfile-Gentoo
Labels: test, github

#1745 refactor(base): remove `str_replace` from `dracut-lib.sh`
  modules.d/99base/dracut-lib.sh
Labels: modules, base

#1905 test(NFS): remove a workaround for systemd v230
  test/TEST-20-NFS/dhcpd.conf
  test/TEST-20-NFS/hosts
  test/TEST-20-NFS/test.sh
Labels: test

#1918 test(DMSQUASH): add test for overlay on top of a block device
  test/TEST-16-DMSQUASH/create-root.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test

#1923 test: do not bring up the network interface if it is not needed
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-17-LVM-THIN/test.sh
Labels: test

#1928 test(SYSTEMD): make the man command succeed
  test/TEST-02-SYSTEMD/systemd-analyze.sh
  test/TEST-02-SYSTEMD/test.sh
Labels: test

#1997 ci: login and push containers as repository_owner
  .github/workflows/container.yml
Labels: github
