Repository dracutdevs/dracut, pull requests merged in 2022-06, with the labels that each got.

#1813 fix(test): dmsquash-live test without an iso
  .github/workflows/integration.yml
  test/TEST-16-DMSQUASH/create-root.sh
  test/TEST-16-DMSQUASH/create.py
  test/TEST-16-DMSQUASH/livecd-fedora-minimal.ks
  test/TEST-16-DMSQUASH/test.sh
  test/container/Dockerfile-Fedora-latest
Labels: test, github

#1720 test: list only the required modules explicitly
  test/TEST-01-BASIC/test.sh
Labels: test

#1842 feat(lvm): add new module lvmthinpool-monitor
  modules.d/80lvmthinpool-monitor/module-setup.sh
  modules.d/80lvmthinpool-monitor/start-thinpool-monitor.service
  modules.d/80lvmthinpool-monitor/start-thinpool-monitor.sh
  pkgbuild/dracut.spec
Labels: modules
