Repository dracutdevs/dracut, pull requests merged in 2022-02, with the labels that each got.

#1690 Fix inconsistent variable use in 40network
  modules.d/40network/net-lib.sh
Labels: modules, network

#1674 fix(kernel-modules): add mailbox drivers for arm
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#1675 fix(kernel-modules-extra): Handle zstd module extension
  modules.d/90kernel-modules-extra/module-setup.sh
Labels: modules, kernel-modules-extra

#1684 fix(memstrack): drop bash runtime requirement
  modules.d/99memstrack/memstrack-start.sh
  modules.d/99memstrack/memstrack.service
  modules.d/99memstrack/module-setup.sh
Labels: modules, memstrack

#1689 fix(dracut-shutdown): add cleanup handler on failure
  Makefile
  modules.d/98dracut-systemd/dracut-shutdown-onfailure.service
  modules.d/98dracut-systemd/dracut-shutdown.service
  modules.d/98dracut-systemd/dracut-shutdown.service.8.asc
  pkgbuild/dracut.spec
Labels: modules, dracut-systemd

#1686 fix(network): wrong test of wicked unit
  modules.d/40network/module-setup.sh
Labels: modules, network

#1683 fix(dracut): be more robust when using 'set -u'
  dracut.sh
  modules.d/99base/dracut-lib.sh
Labels: modules, base

#1677 Add missing libraries
  modules.d/91fido2/module-setup.sh
  modules.d/91tpm2-tss/module-setup.sh
Labels: modules

#1655 fix(img-lib): install rmdir
  modules.d/99img-lib/module-setup.sh
Labels: modules, img-lib

#1671 fix(bluetooth): dbus configuration path fixes
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#1698 fix(bluetooth): make hostonly configuration files optional
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#1679 feat(pcsc): introducing the pcsc module
  modules.d/91pcsc/module-setup.sh
  modules.d/91pcsc/pcscd.service
  modules.d/91pcsc/pcscd.socket
  pkgbuild/dracut.spec
Labels: modules

#1719 fix(systemd-journald): remove duplicate entry in inst_multiple
  modules.d/01systemd-journald/module-setup.sh
Labels: modules

#1727 fix(iscsi): Remove unneeded iscsi NOP-disable code
  modules.d/95iscsi/iscsiroot.sh
Labels: modules, iscsi

#1711 Add zfs detection
  dracut-functions.sh
  dracut.sh
  modules.d/95rootfs-block/module-setup.sh
Labels: modules, rootfs-block
