Repository dracutdevs/dracut, pull requests merged in 2022-10, with the labels that each got.

#1942 refactor(shutdown): move module specific code out of base module
  modules.d/99base/dracut-lib.sh
  modules.d/99shutdown/shutdown.sh
Labels: modules, base, shutdown

#1992 feat(systemd-portabled): introducing the systemd-portabled module
  modules.d/01systemd-portabled/module-setup.sh
  modules.d/01systemd-tmpfiles/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#2002 perf(90kernel-modules): use AWK instead of shell monster
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#2010 90multipath: install multipathd.socket
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#2016 feat(github): automating dependency updates
  .github/dependabot.yml
Labels: github

#1961 chore(base): remove dead code
  modules.d/99base/init.sh
  modules.d/99base/module-setup.sh
Labels: modules, base

#2006 ci: integration test for openrc and musl
  .github/workflows/integration.yml
Labels: github

#1947 fix(dracut.sh): make omit-drivers option do exact match for names
  dracut.sh
  test/TEST-01-BASIC/test.sh
Labels: test

#2014 feat(systemd-pcrphase): introducing the systemd-pcrphase module
  modules.d/01systemd-pcrphase/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules

#1920 feat(dmsquash-live): add support for dash
  modules.d/90dmsquash-live/dmsquash-generator.sh
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90dmsquash-live/module-setup.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test, modules, dmsquash-live

#2019 feat(multipath): install tmpfiles.d config file
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath
