Repository dracutdevs/dracut, pull requests merged in 2022-12, with the labels that each got.

#2098 fix(base): remove grep dependency
  modules.d/99base/dracut-lib.sh
Labels: modules, base

#1956 feat(fs-lib): make gentoo container pass test-01
  modules.d/99fs-lib/fs-lib.sh
Labels: bug, modules, fs-lib

#2085 fix(systemd-coredump): correct systemd-coredump binary path
  modules.d/01systemd-coredump/module-setup.sh
Labels: bug, modules

#2076 tests: remove dead code regarding special handling of test 99
  tools/test-github.sh
Labels: enhancement

#1716 fix(base): do not require chroot inside initramfs
  modules.d/95debug/module-setup.sh
  modules.d/98selinux/module-setup.sh
  modules.d/99base/module-setup.sh
Labels: modules, debug, selinux, base

#2101 docs: document the new release process
  docs/RELEASE.md
Labels: enhancement

#2079 ci: teach manual test workflow to run several tests
  .github/workflows/manualtest.yml
Labels: enhancement, github

#2090 ci: remove native dracut installation from the test containers
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-OpenSuse-latest
Labels: enhancement, test

#2100 ci: set DEBUGFAIL to rd.debug when debug logging is enabled
  .github/workflows/integration.yml
Labels: enhancement, github

#2107 ci: install procps-ng into Fedora container
  test/container/Dockerfile-Fedora-latest
Labels: bug, test, regression

#2089 ci: prepare to test more than two network modules
  .github/workflows/integration.yml
  test/TEST-20-NFS/test.sh
  test/TEST-21-NFS-NM/Makefile
  test/TEST-30-ISCSI/test.sh
  test/TEST-31-ISCSI-NM/Makefile
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-36-ISCSI-MULTI-NM/Makefile
  test/TEST-40-NBD/test.sh
  test/TEST-41-NBD-NM/Makefile
  test/TEST-50-MULTINIC/test.sh
  test/TEST-51-MULTINIC-NM/Makefile
  test/TEST-60-BONDBRIDGEVLANIFCFG/test.sh
  test/TEST-61-BONDBRIDGEVLANIFCFG-NM/Makefile
Labels: test, github

#2120 refactor: use read -r instead of cat
  modules.d/01fips/fips.sh
  modules.d/01fips/module-setup.sh
  modules.d/35connman/netroot.sh
  modules.d/35network-legacy/dhcp-multi.sh
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/net-genrules.sh
  modules.d/40network/net-lib.sh
  modules.d/40network/netroot.sh
  modules.d/45ifcfg/write-ifcfg.sh
  modules.d/80cms/cms-write-ifcfg.sh
  modules.d/90dm/dm-shutdown.sh
  modules.d/90dmsquash-live-autooverlay/create-overlay.sh
  modules.d/95fcoe/fcoe-up.sh
  modules.d/95iscsi/iscsiroot.sh
  modules.d/95iscsi/module-setup.sh
  modules.d/95lunmask/fc_transport_scan_lun.sh
  modules.d/95lunmask/module-setup.sh
  modules.d/95lunmask/sas_transport_scan_lun.sh
  modules.d/95nfs/nfsroot-cleanup.sh
  modules.d/95nvmf/module-setup.sh
  modules.d/95rootfs-block/mount-root.sh
  modules.d/97masterkey/masterkey.sh
  modules.d/98ecryptfs/ecryptfs-mount.sh
  modules.d/98integrity/evm-enable.sh
  modules.d/98usrmount/mount-usr.sh
  modules.d/99base/dracut-lib.sh
Labels: modules, fips, network-legacy, network, ifcfg, cms, dm, iscsi, fcoe, lunmask, nfs, nvmf, rootfs-block, masterkey, ecryptfs, integrity, usrmount, base, reviewed

#2117 ci: introduce more networking options into test containers
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Fedora-latest
Labels: test

#2122 fix(dracut): shellcheck regression in DRACUT_INSTALL calls
  dracut-init.sh
  dracut.sh
Labels: regression

#2118 test: do not omit dash module
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
Labels: test

#2110 test: disable debug logs by default
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
Labels: test

#2028 Drop dmeventd from initramfs
  modules.d/90dm/module-setup.sh
  modules.d/90lvm/module-setup.sh
  test/TEST-17-LVM-THIN/create-root.sh
Labels: test, debian, modules, dm, lvm

#2086 fix(systemd-timesyncd): typo in systemd-time-wait-sync.service local conf path
  modules.d/01systemd-timesyncd/module-setup.sh
Labels: bug, modules

#1943 refactor(dmsquash-live): move ntfs-3g code to dmsquash-live-ntfs
  modules.d/90dmsquash-live-ntfs/module-setup.sh
  modules.d/90dmsquash-live-ntfs/mount-ntfs-3g.sh
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live-ntfs, dmsquash-live

#2109 ci: run all local tests on systemd enabled containers
  .github/workflows/integration.yml
Labels: github

#2064 fix(zipl): remove trailing spaces from zipl boot device name
  dracut-functions.sh
  modules.d/91zipl/module-setup.sh
Labels: modules, zipl

#1951 test(FULL SYSTEMD): make test 04 use the test dracut modules
  test/TEST-04-FULL-SYSTEMD/finished-false.sh
  test/TEST-04-FULL-SYSTEMD/hard-off.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#2138 fix(systemd-hostnamed): correct sysusers configuration
  modules.d/01systemd-hostnamed/systemd-hostname-dracut.conf
Labels: modules

#2139 fix(dbus-broker): add missing sockets.target.wants/dbus.socket
  modules.d/06dbus-broker/module-setup.sh
Labels: modules

#2143 fix(systemd-hostnamed): add missing dbus-org.freedesktop.hostname1.service
  modules.d/01systemd-hostnamed/module-setup.sh
Labels: modules

#2144 fix(systemd-timedated): add missing dbus-org.freedesktop.timedate1.service
  modules.d/01systemd-timedated/module-setup.sh
Labels: modules

#2129 feat(network-wicked): remove module
  .github/workflows/integration.yml
  man/dracut.cmdline.7.asc
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-wicked/module-setup.sh
  modules.d/35network-wicked/wicked-config.sh
  modules.d/35network-wicked/wicked-run.sh
  modules.d/40network/module-setup.sh
  pkgbuild/dracut.spec
Labels: opensuse, modules, network-legacy, network, github
