Repository dracutdevs/dracut, pull requests merged in 2022-05, with the labels that each got.

#1801 ci: install sudo for the debian container
  test/container/Dockerfile-Debian
Labels: test

#1804 ci: on debian, default shell is not bash
  test/Makefile
  test/container/Dockerfile-Debian
Labels: test

#1806 fix(test): add support for dpkg to pass the test on debian
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#1808 fix(test): remove stale comment
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
Labels: test

#1799 fix(iscsi): do not exit in handle_netroot() if discovery failed
  modules.d/95iscsi/iscsiroot.sh
Labels: modules, iscsi

#1810 ci(integration): maintain only Fedora latest
  .github/workflows/container.yml
  .github/workflows/integration.yml
  test/container/Dockerfile-Fedora-34
  test/container/Dockerfile-Fedora-35
  test/container/Dockerfile-Fedora-rawhide
Labels: test, github

#1814 feat(gensplash): remove module
  .github/labeler.yml
  modules.d/50gensplash/README
  modules.d/50gensplash/gensplash-emergency.sh
  modules.d/50gensplash/gensplash-newroot.sh
  modules.d/50gensplash/gensplash-pretrigger.sh
  modules.d/50gensplash/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules, gensplash, github
