Repository dracutdevs/dracut, pull requests merged in 2023-06, with the labels that each got.

#2356 fix(github): exempt issues in a milestone
  .github/stale.yml
Labels: github

#2335 fix(dracut-lib.sh): remove successful finished initqueue scripts
  modules.d/99base/dracut-lib.sh
Labels: modules, base

#2370 ci: cleanup containers
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Gentoo
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#2340 test(LVM-THIN): avoid thin pool size warning
  test/TEST-17-LVM-THIN/create-root.sh
Labels: test

#2354 test: move more makeroot dependencies into test-makeroot dracut module
  modules.d/80test-makeroot/module-setup.sh
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test, modules

#2365 fix(dracut.sh): correct path to UEFI stub on split-usr systems
  dracut.sh
Labels: bug

#2307 fix(parse-ip-opts.sh): fix typo
  modules.d/35network-legacy/parse-ip-opts.sh
Labels: modules, network-legacy

#2402 ci: add dependencies to Debian container
  test/container/Dockerfile-Debian
Labels: test

#2407 ci: switching the musl test to 18 (uefi)
  .github/workflows/integration.yml
Labels: github

#2408 ci: improve Gentoo container
  test/container/Dockerfile-Gentoo
Labels: test

#2320 fix(dracut-init.sh): correct check in `is_qemu_virtualized` function
  dracut-init.sh
Labels: bug

#2414 fix(bluetooth): add missing files
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#2184 NVMeoF / TCP boot support
  man/dracut.cmdline.7.asc
  modules.d/95nvmf/module-setup.sh
  modules.d/95nvmf/nbftroot.sh
  modules.d/95nvmf/nvmf-autoconnect.sh
  modules.d/95nvmf/parse-nvmf-boot-connections.sh
Labels: enhancement, modules, nvmf
