Repository dracutdevs/dracut, pull requests merged in 2023-01, with the labels that each got.

#2158 fix(dmsquash-live): live:/dev/*
  modules.d/90dmsquash-live/parse-dmsquash-live.sh
Labels: modules, dmsquash-live

#2159 fix: shellcheck 0.8.0
  modules.d/01fips/fips.sh
  modules.d/35network-legacy/parse-ip-opts.sh
  modules.d/90mdraid/parse-md.sh
  modules.d/95nfs/nfs-lib.sh
Labels: modules, fips, network-legacy, mdraid, nfs

#2161 ci: disable test 50 (MULTINIC)
  .github/workflows/integration.yml
Labels: github

#2167 ci: fix Gentoo container used for testing
  test/container/Dockerfile-Gentoo
Labels: test, gentoo, regression

#2170 refactor(virtiofs): remove exit after die
  modules.d/95virtiofs/mount-virtiofs.sh
Labels: modules, virtiofs

#2126 RFC: feat(lvm): always include all drivers that LVM can use
  modules.d/90lvm/module-setup.sh
Labels: modules, lvm

#2164 fix(dracut-systemd): remove unused argument
  modules.d/98dracut-systemd/rootfs-generator.sh
Labels: modules, dracut-systemd
