Repository dracutdevs/dracut, pull requests merged in 2023-08, with the labels that each got.

#2463 ci: migrate from systemd-boot to systemd-utils in Gentoo container
  test/container/Dockerfile-Gentoo
Labels: test

#2447 ci: change the order of lint jobs as lint_shell is more likely to fail
  .github/workflows/lint.yml
Labels: github

#2469 ci: run all local tests on all containers (including Gentoo)
  .github/workflows/integration.yml
Labels: github

#2453 fix(systemd-udevd): add missing override paths
  modules.d/01systemd-udevd/module-setup.sh
Labels: bug, modules

#2489 fix: codespell
  docs/HACKING.md
  dracut-functions.sh
  man/dracut.8.asc
  man/dracut.cmdline.7.asc
  man/dracut.conf.5.asc
  man/dracut.modules.7.asc
  modules.d/01fips/fips.sh
  modules.d/01systemd-tmpfiles/module-setup.sh
  modules.d/06rngd/module-setup.sh
  modules.d/35network-legacy/dhclient-script.sh
  modules.d/35network-legacy/dhcp-multi.sh
  modules.d/35network-legacy/ifup.sh
  modules.d/40network/net-lib.sh
  modules.d/45ifcfg/write-ifcfg.sh
  modules.d/45url-lib/url-lib.sh
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/95fcoe/lldpad.sh
  modules.d/95nfs/parse-nfsroot.sh
  modules.d/98dracut-systemd/dracut-mount.sh
  modules.d/99base/dracut-dev-lib.sh
  modules.d/99base/dracut-lib.sh
  modules.d/99base/init.sh
  src/dracut-cpio/src/main.rs
  src/dracut-cpio/third_party/crosvm/argument.rs
  src/install/macro.h
  test/TEST-10-RAID/create-root.sh
  test/TEST-12-RAID-DEG/create-root.sh
  test/TEST-13-ENC-RAID-LVM/create-root.sh
  test/TEST-14-IMSM/create-root.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-20-NFS/dhcpd.conf
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/dhcpd.conf
  test/TEST-35-ISCSI-MULTI/dhcpd.conf
  test/TEST-50-MULTINIC/test.sh
Labels: test, modules, fips, rngd, network-legacy, network, ifcfg, url-lib, dmsquash-live, fcoe, nfs, dracut-systemd, base

#2492 ci: also run integration test on Ubuntu
  .github/workflows/container.yml
  .github/workflows/integration.yml
  .github/workflows/manualtest.yml
  test/container/Dockerfile-Ubuntu
Labels: test, github

#2496 fix(test): use bash for jobs -r parameter
  test/TEST-20-NFS/server-init.sh
  test/TEST-20-NFS/test.sh
  test/TEST-50-MULTINIC/server-init.sh
  test/TEST-50-MULTINIC/test.sh
Labels: test

#2474 chore: remove unnecessary shellcheck disable for SC2154
  dracut-functions.sh
  dracut-init.sh
  dracut.sh
  install.d/51-dracut-rescue.install
  modules.d/90dmsquash-live-autooverlay/create-overlay-genrules.sh
  modules.d/90dmsquash-live-autooverlay/module-setup.sh
  modules.d/95cifs/cifsroot.sh
  modules.d/95rootfs-block/block-genrules.sh
  test/test-functions
Labels: test, modules, cifs, rootfs-block

#2502 chore: remove unnecessary shellcheck disable for SC1087
  modules.d/40network/net-lib.sh
Labels: modules, network
