Repository dracutdevs/dracut, pull requests merged in 2023-04, with the labels that each got.

#2290 fix(multipath): enable service but disable socket
  modules.d/90multipath/module-setup.sh
  modules.d/90multipath/multipathd.service
Labels: modules, multipath, regression

#2305 fix(dracut-functions.sh): convert mmcblk to the real kernel module name
  dracut-functions.sh
Labels: modules, kernel-modules

#2288 fix(systemd-networkd): add missing conf files and services
  modules.d/01systemd-networkd/module-setup.sh
Labels: modules, systemd-networkd

#2294 feat(systemd-creds): introducing the systemd-creds module
  modules.d/01systemd-creds/module-setup.sh
Labels: modules
