Repository dracutdevs/dracut, pull requests merged in 2023-02, with the labels that each got.

#2196 fix: make iso-scan trigger udev events
  modules.d/90dmsquash-live/iso-scan.sh
Labels: modules, dmsquash-live

#2193 fix(dracut-install): continue parsing if ldd prints "cannot execute binary file"
  src/install/dracut-install.c
Labels: bug

#2185 fix(fido2): libfido2.so depends on libz.so
  modules.d/91fido2/module-setup.sh
Labels: bug, modules

#2177 fix(network-manager): add "After" dependency on dbus.service
  modules.d/35network-manager/nm-initrd.service
Labels: bug, modules, network-manager

#2160 feat(resume): also consider resume= in the cmdline as enabling hibernation
  modules.d/95resume/module-setup.sh
Labels: enhancement, modules, resume

#2179 fix(plymouth): remove /etc/system-release dependency
  modules.d/50plymouth/plymouth-populate-initrd.sh
Labels: bug, modules, plymouth

#2104 chore(base): remove support for <udev-176.
  dracut-init.sh
  modules.d/90dm/59-persistent-storage-dm.rules
  modules.d/90dm/module-setup.sh
  modules.d/90mdraid/59-persistent-storage-md.rules
  modules.d/90mdraid/module-setup.sh
  modules.d/95udev-rules/59-persistent-storage.rules
  modules.d/95udev-rules/61-persistent-storage.rules
  modules.d/95udev-rules/module-setup.sh
Labels: modules, dm, mdraid, udev-rules

#2069 chore(shfmt): update the code to pass with version 3.5.1
  dracut-init.sh
  modules.d/00systemd/module-setup.sh
  modules.d/90kernel-modules-extra/module-setup.sh
  modules.d/90livenet/parse-livenet.sh
  modules.d/95zfcp_rules/parse-zfcp.sh
Labels: systemd, modules, kernel-modules-extra, livenet, zfcp_rules

#2075 feat(dracut-install) Add fw_devlink suppliers as module dependencies
  src/install/dracut-install.c
Labels: enhancement

#2134 Revert "fix(35network-manager): avoid restarting NetworkManager"
  modules.d/35network-manager/nm-run.sh
Labels: modules, network-manager, regression

#2220 fix(udev-rules): remove old rules
  modules.d/95udev-rules/module-setup.sh
Labels: debian, modules, udev-rules

#2233 fix(dmsquash-live): restore compatibility with earlier releases
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live, regression
