Repository dracutdevs/dracut, pull requests merged in 2023-07, with the labels that each got.

#2344 RFC: feat(livenet): add memory size check depending on live image size
  man/dracut.cmdline.7.asc
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90livenet/livenetroot.sh
  modules.d/99base/dracut-lib.sh
Labels: enhancement, modules, dmsquash-live, livenet, base

#2432 fix(man): remove duplicate entry
  man/dracut.8.asc
Labels: bug

#2427 ci: install util-linux-systemd and systemd-boot into openSUSE container
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#2460 ci: do not run test container generation on forked repos by default
  .github/workflows/container.yml
Labels: github
